# day 221

# merge sort the list in place:

you are given two integer arrays nums1 and nums2, sorted in non-decreasing order(ascending order), and two integers m and n, representing the number of elements in nums1 and nums2 respectively.

Merge nums1 and nums2 into a single array sorted in non-decreasing order.

The final sorted array should not be returned by the function, but instead be stored inside the array nums1. To accommodate this, nums1 has a length of m + n, where the first m elements denote the elements that should be merged, and the last n elements are set to 0 and should be ignored. nums2 has a length of n.

 

Example 1:

Input: nums1 = [1,2,3,0,0,0], m = 3, nums2 = [2,5,6], n = 3
Output: [1,2,2,3,5,6]
Explanation: The arrays we are merging are [1,2,3] and [2,5,6].
The result of the merge is [1,2,2,3,5,6] with the underlined elements coming from nums1.
Example 2:

Input: nums1 = [1], m = 1, nums2 = [], n = 0
Output: [1]
Explanation: The arrays we are merging are [1] and [].
The result of the merge is [1].
Example 3:

Input: nums1 = [0], m = 0, nums2 = [1], n = 1
Output: [1]
Explanation: The arrays we are merging are [] and [1].
The result of the merge is [1].
Note that because m = 0, there are no elements in nums1. The 0 is only there to ensure the merge result can fit in nums1.
 

Constraints:

nums1.length == m + n
nums2.length == n
0 <= m, n <= 200
1 <= m + n <= 200
-109 <= nums1[i], nums2[j] <= 109
 

Follow up: Can you come up with an algorithm that runs in O(m + n) time?

In [7]:
# best solution for in-place merging


def merge(nums1, m, nums2, n):
    a, b, write_index = m-1, n-1, m + n - 1

    while b >= 0:
        if a >= 0 and nums1[a] > nums2[b]:
            nums1[write_index] = nums1[a]
            a -= 1
        else:
            nums1[write_index] = nums2[b]
            b -= 1

        write_index -= 1
        
    return nums1

        
nums1 = [1,2,3,0,0,0]
nums2 = [2,5,6]
m = 3
n = 3
merge(nums1,m,nums2,n)

[1, 2, 2, 3, 5, 6]

# exploration, analysis and freethrows

* nums1 = [1,2,3,0,0,0]
* nums2 = [2,5,6]
* a = 2
* b = 2
* write_index = 5
---------------
# first iteration:
* nums1 = [1,2,3,0,0,6]
* b = 1
* wi = 4

---------------
# second iteration:
nums1 = [1,2,3,0,5,6]
b = 0
wi = 3

-----------------
# third iteration:
* nums1 = [1,2,3,3,5,6]
* a = 1
* wi = 2
-------------
# fourth iteration:
* nums1 = [1,2,2,3,5,6]
* b = -1
* wi = 1

# day 222

# Remove element from the list.(in place).
Given an integer array nums and an integer val, remove all occurrences of val in nums in-place. The order of the elements may be changed. Then return the number of elements in nums which are not equal to val.

Consider the number of elements in nums which are not equal to val be k, to get accepted, you need to do the following things:

Change the array nums such that the first k elements of nums contain the elements which are not equal to val. The remaining elements of nums are not important as well as the size of nums.
Return k.
Custom Judge:

The judge will test your solution with the following code:

int[] nums = [...]; // Input array
int val = ...; // Value to remove
int[] expectedNums = [...]; // The expected answer with correct length.
                            // It is sorted with no values equaling val.

int k = removeElement(nums, val); // Calls your implementation

assert k == expectedNums.length;
sort(nums, 0, k); // Sort the first k elements of nums
for (int i = 0; i < actualLength; i++) {
    assert nums[i] == expectedNums[i];
}
If all assertions pass, then your solution will be accepted.

 

Example 1:

Input: nums = [3,2,2,3], val = 3
Output: 2, nums = [2,2,_,_]
Explanation: Your function should return k = 2, with the first two elements of nums being 2.
It does not matter what you leave beyond the returned k (hence they are underscores).
Example 2:

Input: nums = [0,1,2,2,3,0,4,2], val = 2
Output: 5, nums = [0,1,4,0,3,_,_,_]
Explanation: Your function should return k = 5, with the first five elements of nums containing 0, 0, 1, 3, and 4.
Note that the five elements can be returned in any order.
It does not matter what you leave beyond the returned k (hence they are underscores).
 

Constraints:

0 <= nums.length <= 100
0 <= nums[i] <= 50
0 <= val <= 100

In [10]:
nums = [0,1,2,2,3,0,4,2]
val = 2
count = 0

while val in nums:
    nums.remove(val)
    count += 1
        
k = len(nums)

# for filling in the empty spaces with underscores
for iteration in range(count):
    nums.append('_')
    
print(nums)
print(k)

[0, 1, 3, 0, 4, '_', '_', '_']
5

# day 224

# Remove duplicates from sorted array: (in_place)

Given an integer array nums sorted in non-decreasing order, remove the duplicates in-place such that each unique element appears only once. The relative order of the elements should be kept the same. Then return the number of unique elements in nums.

Consider the number of unique elements of nums to be k, to get accepted, you need to do the following things:

Change the array nums such that the first k elements of nums contain the unique elements in the order they were present in nums initially. The remaining elements of nums are not important as well as the size of nums.
Return k.
Custom Judge:

The judge will test your solution with the following code:

int[] nums = [...]; // Input array
int[] expectedNums = [...]; // The expected answer with correct length

int k = removeDuplicates(nums); // Calls your implementation

assert k == expectedNums.length;
for (int i = 0; i < k; i++) {
    assert nums[i] == expectedNums[i];
}
If all assertions pass, then your solution will be accepted.

 

Example 1:

Input: nums = [1,1,2]
Output: 2, nums = [1,2,_]
Explanation: Your function should return k = 2, with the first two elements of nums being 1 and 2 respectively.
It does not matter what you leave beyond the returned k (hence they are underscores).
Example 2:

Input: nums = [0,0,1,1,1,2,2,3,3,4]
Output: 5, nums = [0,1,2,3,4,_,_,_,_,_]
Explanation: Your function should return k = 5, with the first five elements of nums being 0, 1, 2, 3, and 4 respectively.
It does not matter what you leave beyond the returned k (hence they are underscores).
 

Constraints:

1 <= nums.length <= 3 * 104
-100 <= nums[i] <= 100
nums is sorted in non-decreasing order.

In [14]:
# this is not in-place
nums = [0,0,1,1,1,2,2,3,3,4]

len_before = len(nums)

nums = list(set(nums))

len_after = len(nums)

# for filling in the empty spaces with underscores.
for iteration in range(len_before-len_after):
    nums.append('_')
    
    
print(nums)
print(len_after)

[0, 1, 2, 3, 4, '_', '_', '_', '_', '_']
5

In [34]:
# remove the duplicates in nums in place.
nums = [0,0,1,1,1,2,2,3,3,4]

# set filters the unique elements
s = set(nums)
nums.clear() # clears the whole list and make it empty

# appending the elements from the set
for i in s:
    nums.append(i)

# for preserving the order as set doesn't guarantee ordered arrangement
nums.sort()
print(nums)

[0, 1, 2, 3, 4]

# day 225

# Remove duplicates from sorted array:
Given an integer array nums sorted in non-decreasing order, remove some duplicates in-place such that each unique element appears at most twice. The relative order of the elements should be kept the same.

Since it is impossible to change the length of the array in some languages, you must instead have the result be placed in the first part of the array nums. More formally, if there are k elements after removing the duplicates, then the first k elements of nums should hold the final result. It does not matter what you leave beyond the first k elements.

Return k after placing the final result in the first k slots of nums.

Do not allocate extra space for another array. You must do this by modifying the input array in-place with O(1) extra memory.

Custom Judge:

The judge will test your solution with the following code:

int[] nums = [...]; // Input array
int[] expectedNums = [...]; // The expected answer with correct length

int k = removeDuplicates(nums); // Calls your implementation

assert k == expectedNums.length;
for (int i = 0; i < k; i++) {
    assert nums[i] == expectedNums[i];
}
If all assertions pass, then your solution will be accepted.

 

Example 1:

Input: nums = [1,1,1,2,2,3]
Output: 5, nums = [1,1,2,2,3,_]
Explanation: Your function should return k = 5, with the first five elements of nums being 1, 1, 2, 2 and 3 respectively.
It does not matter what you leave beyond the returned k (hence they are underscores).
Example 2:

Input: nums = [0,0,1,1,1,1,2,3,3]
Output: 7, nums = [0,0,1,1,2,3,3,_,_]
Explanation: Your function should return k = 7, with the first seven elements of nums being 0, 0, 1, 1, 2, 3 and 3 respectively.
It does not matter what you leave beyond the returned k (hence they are underscores).
 

Constraints:

1 <= nums.length <= 3 * 104
-104 <= nums[i] <= 104
nums is sorted in non-decreasing order.

In [20]:
# this is the list

nums = [0,0,1,1,1,1,2,3,3]

# start the index with 0
i = 0

# we use while loop not for loop because while loop is dynamic and for loop is static.
while i < len(nums):
    # count counts for every nums[i]
    count = 0
    
    # j is a step ahead of i
    j = i+1
    
    # j runs the second loop and checks for duplicates
    while j < len(nums):
        
        # count is increased to 1 when the duplicate is found
        if nums[i] == nums[j]:
            count = count + 1
            
        j += 1
        
    # if there are more than 1 duplicate then that duplicate is removed, 
    # index is moved forward, count is decreased:
    '''explanation for why index is moved forward and count is decreased. index i is captured in index variable
    lets say there are 3 duplicates of the number 1 then we iteratively remove those duplicates until count becomes 1
    so that all duplicates are removed. '''
    if count > 1:
        while count > 1:
            index = i
            nums.pop(index)
            
            index = index + 1
            count = count - 1
        
        
    i += 1

print(nums)

[0, 0, 1, 1, 2, 3, 3]

# Return the majority element or mode of the list

Given an array nums of size n, return the majority element.

The majority element is the element that appears more than ⌊n / 2⌋ times. You may assume that the majority element always exists in the array.

 

Example 1:

Input: nums = [3,2,3]
Output: 3
Example 2:

Input: nums = [2,2,1,1,1,2,2]
Output: 2
 

Constraints:

n == nums.length
1 <= n <= 5 * 104
-109 <= nums[i] <= 109
 

Follow-up: Could you solve the problem in linear time O(N) and in O(1) space?


# pseudo code:
* what matters here the maximum occurence of the number
* run through the loop 
* store the number in dictionary as keys and its count as values

In [33]:
# maximally occuring number
 

def mode(nums):
    dic = {}
    for num in nums:
        # if the number occurs for the first time then it puts 0 else value adds to the previous addition
        dic[num] = dic.get(num,0) + 1 

    for key,value in dic.items():
        mode = max(dic.values())

        if value ==  mode:
            return key
        
nums = [3,2,3]        
mode(nums)

3

# day 228


# Rotate Array
Given an integer array nums, rotate the array to the right by k steps, where k is non-negative.

 

Example 1:

Input: nums = [1,2,3,4,5,6,7], k = 3
Output: [5,6,7,1,2,3,4]
Explanation:
rotate 1 steps to the right: [7,1,2,3,4,5,6]
rotate 2 steps to the right: [6,7,1,2,3,4,5]
rotate 3 steps to the right: [5,6,7,1,2,3,4]
Example 2:

Input: nums = [-1,-100,3,99], k = 2
Output: [3,99,-1,-100]
Explanation: 
rotate 1 steps to the right: [99,-1,-100,3]
rotate 2 steps to the right: [3,99,-1,-100]
 

Constraints:

1 <= nums.length <= 105
-231 <= nums[i] <= 231 - 1
0 <= k <= 105
 

Follow up:

Try to come up with as many solutions as you can. There are at least three different ways to solve this problem.
Could you do it in-place with O(1) extra space?

In [65]:
def rotate(nums,k):
    
    #if k is not int:
    if type(k) is not int:
        print('please input a valid k')
    
    # if nums list has 0 elements return nothing
    if len(nums) == 0:
        return None
    
    # if nums list has 1 element return that element
    if len(nums) == 1:
        return nums[0]
    
    # if nums list has two elements and k > 0, swap the elements and return the list
    if len(nums) == 2 and k == 1: 
        temp = nums[0]
        nums[0] = nums[1]
        nums[1] = temp
        
    # if the len of the nums is greater than 2. go until k, pop the last elements until k times and insert them at the first
    else:
        for i in range(k): 
            popped = nums.pop()
            nums.insert(0,popped)

    return nums 

k = 1
nums = [1,2]
rotate(nums,k)

[2, 1]

# exploration,analysis and freethrows

In [51]:
k = 3
nums = [1,2,3,4,5,6,7]
nums[-k:]

[5, 6, 7]

In [42]:
nums[:-k]

[1, 2, 3, 4]

In [43]:
nums = nums[-k:].extend(nums[:-k])
nums # it doesn't work.

In [47]:
k = 3
nums = [1,2,3,4,5,6,7]
for num in range(k+1):
    popped = nums.pop(0)
    nums.append(popped)
nums

[5, 6, 7, 1, 2, 3, 4]

# Best Time to Buy and Sell stock:

You are given an array prices where prices[i] is the price of a given stock on the ith day.

You want to maximize your profit by choosing a single day to buy one stock and choosing a different day in the future to sell that stock.

Return the maximum profit you can achieve from this transaction. If you cannot achieve any profit, return 0.

 

Example 1:

Input: prices = [7,1,5,3,6,4]
Output: 5
Explanation: Buy on day 2 (price = 1) and sell on day 5 (price = 6), profit = 6-1 = 5.
Note that buying on day 2 and selling on day 1 is not allowed because you must buy before you sell.
Example 2:

Input: prices = [7,6,4,3,1]
Output: 0
Explanation: In this case, no transactions are done and the max profit = 0.
 

Constraints:

1 <= prices.length <= 105
0 <= prices[i] <= 104

# pseudo code:
1. set the minimum to infinity and slowly reduce it. and set maximum to 0 and slowly increase it.
2. iterate through prices and check and store in minimum = min(minimum,price)
3. find the profit: profit = price - minimum
4. find the max profit, max_profit = max(max_profit,max).
5. this way of coding ensures that previously held min and max values are preserved.

In [21]:
def stock_profit(prices):
    # if nothing is in the nums return 0
    if not prices:
        return 0
    
    # set the minimum to infinity.
    minimum = float('inf')
    
    # set maximum to 0
    maximum = 0
    
    # iterate through prices
    for price in prices:
        minimum = min(minimum,price)
        profit = price - minimum
        maximum = max(maximum,profit)
        
    return maximum

prices = [2,4,1]
stock_profit(prices)

2

# explanation: 
prices = [2,4,1]
minimum = inf
maximum = 0

# 1st iteration:
minimum = min(inf,2) = 2
profit = 2-2 = 0
maximum = max(maximum,profit) = max(0,0) = 0

# 2nd iteration:
minimum = min(2,4) = 2
profit = 4-2 = 2
maximum = max(maximum,profit) = max(0,2) = 2


# 3rd iteration:
minimum = min(2,1) = 1
profit = 1-1 = 0
maximum = max(maximum,profit) = max(2,0) = 2

# hence the final result is 2. notice max and minimum information is preserved by using the 'same variable' inside and max and min functions.

In [17]:
prices[4:]

[1]

# day 230

# Best time to buy and sell stocks part 2

You are given an integer array prices where prices[i] is the price of a given stock on the ith day.

On each day, you may decide to buy and/or sell the stock. You can only hold at most one share of the stock at any time. However, you can buy it then immediately sell it on the same day.

Find and return the maximum profit you can achieve.

 

Example 1:

Input: prices = [7,1,5,3,6,4]
Output: 7
Explanation: Buy on day 2 (price = 1) and sell on day 3 (price = 5), profit = 5-1 = 4.
Then buy on day 4 (price = 3) and sell on day 5 (price = 6), profit = 6-3 = 3.
Total profit is 4 + 3 = 7.
Example 2:

Input: prices = [1,2,3,4,5]
Output: 4
Explanation: Buy on day 1 (price = 1) and sell on day 5 (price = 5), profit = 5-1 = 4.
Total profit is 4.
Example 3:

Input: prices = [7,6,4,3,1]
Output: 0
Explanation: There is no way to make a positive profit, so we never buy the stock to achieve the maximum profit of 0.
 

Constraints:

* 1 <= prices.length <= 3 * 104
* 0 <= prices[i] <= 104.

# pseudo code:
0. set price = 0
1. move through the list starting from the first index till the length of the list.
2. set prev to list[i-1] and nex to list[i]
3. if nex > prev: price += (nex-prev)
4. return the price.

In [4]:
prices = [7,1,5,3,6,4]
price = 0

for i in range(1,len(prices)):
    prev = prices[i-1]
    nex = prices[i]
    
    if nex > prev:
        price = price + (nex-prev)
        
print('Maximum total profit is: %s'%(price))

Maximum total profit is: 7

# day 231

# Jump game
You are given an integer array nums. You are initially positioned at the array's first index, and each element in the array represents your maximum jump length at that position.

Return true if you can reach the last index, or false otherwise.

 

Example 1:

Input: nums = [2,3,1,1,4]
Output: true
Explanation: Jump 1 step from index 0 to 1, then 3 steps to the last index.
Example 2:

Input: nums = [3,2,1,0,4]
Output: false
Explanation: You will always arrive at index 3 no matter what. Its maximum jump length is 0, which makes it impossible to reach the last index.
 

Constraints:

1 <= nums.length <= 104
0 <= nums[i] <= 105

In [28]:
nums = [3,2,1,0,4]

def can_jump(nums):
    jumper = 0

    for i in range(len(nums)):
        
        if jumper < i:
            return False 


        jumper = max(jumper, i+nums[i])
        print('i: %s'%(i))
        print('jumper: %s'%(jumper))

    return (True)

can_jump(nums)

i: 0
jumper: 3
i: 1
jumper: 3
i: 2
jumper: 3
i: 3
jumper: 3

False

# explanation:

1.
* when nums = [1,0,1,0]
* i: 0
* jumper: 1
* i: 1
* jumper: 1
* i:2
* jumper:1
False
-----------------    
2. 
* when nums = [1,2,3,4,5]
* i: 0
* jumper: 1
* i: 1
* jumper: 3
* i: 2
* jumper: 5
* i: 3
* jumper: 7
* i: 4
* jumper: 9
True
-------------

3. 
* when nums = [2,3,1,1,4]
* i: 0
* jumper: 2
* i: 1
* jumper: 4
* i: 2
* jumper: 4
* i: 3
* jumper: 4
* i: 4
* jumper: 8
True
---------------

4. 
* when nums = [3,2,1,0,4]
* i: 0
* jumper: 3
* i: 1
* jumper: 3
* i: 2
* jumper: 3
* i: 3
* jumper: 3
* i: 4
* jumper: 3
False
---------------

# day 234

# jump Game part 2:
You are given a 0-indexed array of integers nums of length n. You are initially positioned at nums[0].

Each element nums[i] represents the maximum length of a forward jump from index i. In other words, if you are at nums[i], you can jump to any nums[i + j] where:

0 <= j <= nums[i] and
i + j < n
Return the minimum number of jumps to reach nums[n - 1]. The test cases are generated such that you can reach nums[n - 1].

 

Example 1:

Input: nums = [2,3,1,1,4]
Output: 2
Explanation: The minimum number of jumps to reach the last index is 2. Jump 1 step from index 0 to 1, then 3 steps to the last index.
Example 2:

Input: nums = [2,3,0,1,4]
Output: 2

In [19]:
def jump(nums):
    jumper = 0
    counter = 0
    end = 0
    
    for i in range(len(nums)-1):
        jumper = max(jumper,nums[i]+i)
        print('i: {}'.format(i))
        print('jumper: {}'.format(jumper))
    
        # if the jumper exceeds or equals to the length-1 of the nums, increment the counter by 1 and break the loop because we are end and
        # it took only step to reach the end.
        if jumper >= len(nums)-1:
            counter += 1
            break 

        # update the end to jumper if i==end 
        if i == end:
            counter += 1
            end = jumper
        
        print('end: {}'.format(end))
        print('counter: {}'.format(counter)) 
        print('-----------')
        
    return counter
        
    
    
nums = [1,1,1,1]
jump(nums)

i: 0
jumper: 1
end: 1
counter: 1
-----------
i: 1
jumper: 2
end: 2
counter: 2
-----------
i: 2
jumper: 3

3

# day 235

# H-index

Given an array of integers citations where citations[i] is the number of citations a researcher received for their ith paper, return the researcher's h-index.

According to the definition of h-index on Wikipedia: The h-index is defined as the maximum value of h such that the given researcher has published at least h papers that have each been cited at least h times.

 

Example 1:

Input: citations = [3,0,6,1,5]
Output: 3
Explanation: [3,0,6,1,5] means the researcher has 5 papers in total and each of them had received 3, 0, 6, 1, 5 citations respectively.
Since the researcher has 3 papers with at least 3 citations each and the remaining two with no more than 3 citations each, their h-index is 3.
Example 2:

Input: citations = [1,3,1]
Output: 1
 

Constraints:

* n == citations.length
* 1 <= n <= 5000
* 0 <= citations[i] <= 1000


# clear explained constraint:
* at every iteration the published article must receive more citations than the ith iteration(occasion or publishing time) only then will the h_index be updated.
* this is anologous eddington number.

In [36]:
citations = [3,0,6,1,5]
h_index = 0

print('citations: %s'%(citations))
citations.sort(reverse=True)
print('Reversed citations: %s'%(citations))

for index,num in enumerate(citations,start=1): # index starts at 1 instead of the default 0
    print('index:%s and num:%s'%(index,num))
    if num >= index:
        h_index = index
    else:
        break
        
print('h-index for the dude is: %s'%(h_index))

citations: [3, 0, 6, 1, 5]
Reversed citations: [6, 5, 3, 1, 0]
index:1 and num:6
index:2 and num:5
index:3 and num:3
index:4 and num:1
h-index for the dude is: 3

# explanation:

1. 
* citations: [1, 2]
* Reversed citations: [2, 1]
* index:1 and num:2
* index:2 and num:1
* h-index for the dude is: 1
--------------

2.
* citations: [0]
* Reversed citations: [0]
* index:1 and num:0
* h-index for the dude is: 0
---------------

3.
* citations: [1]
* Reversed citations: [1]
* index:1 and num:1
* h-index for the dude is: 1
-------------

4.
* citations: [3, 0, 6, 1, 5]
* Reversed citations: [6, 5, 3, 1, 0]
* index:1 and num:6
* index:2 and num:5
* index:3 and num:3
* index:4 and num:1
* h-index for the dude is: 3
------------

# day 236

# Implement the RandomizedSet class:

* RandomizedSet() Initializes the RandomizedSet object.
* bool insert(int val) Inserts an item val into the set if not present. Returns true if the item was not present, false otherwise.
* bool remove(int val) Removes an item val from the set if present. Returns true if the item was present, false otherwise.
* int getRandom() Returns a random element from the current set of elements (it's guaranteed that at least one element exists when this method is called). Each element must have the same probability of being returned.
* You must implement the functions of the class such that each function works in average O(1) time complexity.

 

Example 1:

* Input:
["RandomizedSet", "insert", "remove", "insert", "getRandom", "remove", "insert", "getRandom"]
[[], [1], [2], [2], [], [1], [2], []]
* Output:
[null, true, false, true, 2, true, false, 2]

Explanation:
* RandomizedSet randomizedSet = new RandomizedSet();
* randomizedSet.insert(1); // Inserts 1 to the set. Returns true as 1 was inserted successfully.
* randomizedSet.remove(2); // Returns false as 2 does not exist in the set.
* randomizedSet.insert(2); // Inserts 2 to the set, returns true. Set now contains [1,2].
* randomizedSet.getRandom(); // getRandom() should return either 1 or 2 randomly.
* randomizedSet.remove(1); // Removes 1 from the set, returns true. Set now contains [2].
* randomizedSet.insert(2); // 2 was already in the set, so return false.
* randomizedSet.getRandom(); // Since 2 is the only number in the set, getRandom() will always return 2.

In [18]:
import random
class RandomizedSet:
    def __init__(self) -> 'initializes with an empty set':
        self.s = set() # set for O(1) time complexity when membership checking!!!
        
    def insert(self,val:int) -> bool:
        if val not in self.s:
            self.s.add(val)
            return True
        return False
        
    def print_set(self) ->"returns something":
        for num in self.s:
            print(num)
            
    def remove(self,val:int) -> bool:
        if val in self.s:
            self.s.remove(val)
            return True
        return False
    
    def getRandom(self) -> int: # each element in the set has the same probability of being returned.
        
        # convert the set into a list and return a random element
        return random.choice(list(self.s))
    
        

rs = RandomizedSet()
nums = [1,2,3,4,5]
for num in nums:
    rs.insert(num)
rs.print_set()
rs.getRandom()

1
2
3
4
5

4

# exploration,analysis and freethrows

In [11]:
s = set()
s.add(2)
s.add(3)
s.add(4)
s.remove(3)

In [12]:
s

{2, 4}

In [14]:
s[0]

TypeError: 'set' object is not subscriptable

In [20]:
lis = [1,2,3,4]

lis.append(5)

In [21]:
lis

[1, 2, 3, 4, 5]

In [22]:
lis.remove(5)

In [23]:
lis

[1, 2, 3, 4]

# day 242

# product of Array except self:

Given an integer array nums, return an array answer such that answer[i] is equal to the product of all the elements of nums except nums[i].

The product of any prefix or suffix of nums is guaranteed to fit in a 32-bit integer.

You must write an algorithm that runs in O(n) time and without using the division operation.

 

Example 1:

Input: nums = [1,2,3,4]
Output: [24,12,8,6]
Example 2:

Input: nums = [-1,1,0,-3,3]
Output: [0,0,9,0,0]
 

Constraints:

2 <= nums.length <= 105
-30 <= nums[i] <= 30
The product of any prefix or suffix of nums is guaranteed to fit in a 32-bit integer.
 

Follow up: Can you solve the problem in O(1) extra space complexity? (The output array does not count as extra space for space complexity analysis.)

In [16]:
def product_except_self(nums):
    
    # setting the parameters
    n = len(nums)
    left_products = [1] * n
    right_products = [1] * n
    left_prod = 1
    right_prod = 1
    
    # building the left side
    for i in range(1,n): 
        left_prod = left_prod * nums[i-1]
        left_products[i] = left_prod
    
    print('left_products:%s'%(left_products))
    # build the right side
    for i in range(int(n/2),-1,-1):
        right_prod = right_prod * nums[i+1]
        right_products[i] = right_prod
        
    print('right_products:%s'%(right_products))
        
    # calculating the results
    result = [left_products[i] * right_products[i] for i in range(n)]
    
    return result

nums = [1,2,3,4]
product_except_self(nums)

left_products:[1, 1, 2, 6]
right_products:[24, 12, 4, 1]

[24, 12, 8, 6]

# exploration,analysis and freethrows

In [11]:
n = 4
int(n/2)

2

In [59]:
nums = [1,2,3,4]
n = len(nums)

left_products = [1]*n

left_products

[1, 1, 1, 1]

In [8]:
nums = [1,2,3,4]
n = len(nums)

left_products = [1]*n
left_product = 1
for i in range(1,n):
    left_product = left_product * nums[i-1]
    left_products[i] = left_product

before left_products:  [1, 1, 1, 1]
i 1
left_prod: 1
i 2
left_prod: 2
i 3
left_prod: 6
after left_products: [1, 1, 2, 6]

# explanations:

# the 0th index by default has 1.
before left_products:  [1, 1, 1, 1]
----
i 1, left_prod: 1
--------
i 2, left_prod: 2
--------
i 3, left_prod: 6
--------
after left_products: [1, 1, 2, 6]
------

In [17]:
# Calculate right products
nums = [1,2,3,4]
n = len(nums)

right_products = [1]*n
right_product = 1

print('nums:%s'%(nums))
print('Before right_products: ',right_products)
for i in range(n - 2, -1, -1):
    print('i: %s'%(i))
    right_product *= nums[i + 1]
    print('right_prod: %s'%(right_product))
    right_products[i] = right_product
    
print('After right_products: %s'%(right_products))

nums:[1, 2, 3, 4]
Before right_products:  [1, 1, 1, 1]
i: 2
right_prod: 4
i: 1
right_prod: 12
i: 0
right_prod: 24
After right_products: [24, 12, 4, 1]

# it keeps the -1th index with 1 as its default value.
before right_products:  [1, 1, 1, 1]
----
i 2, right_prod: 4
--------
i 1, right_prod: 12
--------
i 0, right_prod: 24
--------
after right_products: [24,12,4,1]
------

In [10]:
# calculating the results

result = [left_products[i]*right_products[i] for i in range(n)]
result

[24, 12, 8, 6]

In [67]:
# help from chat gpt:

def product_except_self(nums):
    n = len(nums)
    
    # Initialize left and right product arrays
    left_products = [1] * n
    right_products = [1] * n
    
    # Calculate left products
    left_product = 1
    for i in range(1, n):
        left_product *= nums[i - 1]
        left_products[i] = left_product
    
    # Calculate right products
    right_product = 1
    for i in range(n - 2, -1, -1):
        right_product *= nums[i + 1]
        right_products[i] = right_product
    
    # Calculate the final result
    result = [left_products[i] * right_products[i] for i in range(n)]
    
    return result

# Example usage:
nums1 = [1, 2, 3, 4]
nums2 = [-1, 1, 0, -3, 3]

print(product_except_self(nums1))  # Output: [24, 12, 8, 6]
print(product_except_self(nums2))  # Output: [0, 0, 9, 0, 0]

[24, 12, 8, 6]
[0, 0, 9, 0, 0]

# Gas Station:

There are n gas stations along a circular route, where the amount of gas at the ith station is gas[i].

You have a car with an unlimited gas tank and it costs cost[i] of gas to travel from the ith station to its next (i + 1)th station. You begin the journey with an empty tank at one of the gas stations.

Given two integer arrays gas and cost, return the starting gas station's index if you can travel around the circuit once in the clockwise direction, otherwise return -1. If there exists a solution, it is guaranteed to be unique

 

Example 1:

Input: gas = [1,2,3,4,5], cost = [3,4,5,1,2]
Output: 3
Explanation:
Start at station 3 (index 3) and fill up with 4 unit of gas. Your tank = 0 + 4 = 4
Travel to station 4. Your tank = 4 - 1 + 5 = 8
Travel to station 0. Your tank = 8 - 2 + 1 = 7
Travel to station 1. Your tank = 7 - 3 + 2 = 6
Travel to station 2. Your tank = 6 - 4 + 3 = 5
Travel to station 3. The cost is 5. Your gas is just enough to travel back to station 3.
Therefore, return 3 as the starting index.
Example 2:

Input: gas = [2,3,4], cost = [3,4,3]
Output: -1
Explanation:
You can't start at station 0 or 1, as there is not enough gas to travel to the next station.
Let's start at station 2 and fill up with 4 unit of gas. Your tank = 0 + 4 = 4
Travel to station 0. Your tank = 4 - 3 + 2 = 3
Travel to station 1. Your tank = 3 - 3 + 3 = 3
You cannot travel back to station 2, as it requires 4 unit of gas but you only have 3.
Therefore, you can't travel around the circuit once no matter where you start.

# my solution: which doesn't always work.

In [29]:
# goals:
''' 
1. make a rotation function

'''
# defining the rotation function:

def rotate(lis,k):
    
    for i in range(k,len(lis)):
        popped = lis.pop()
        lis.insert(0,popped)
        
    return lis

        
gas = [1,2,3,4,5]
cost = [3,4,5,1,2]
# iterating till the end of gas (since they both are of same lengths we don't have to care who we iterate through)
for i in range(len(gas)):
    if gas[i] - cost[i] >= 0:

        # rotate  both gas and cost
        rotated_gas = rotate(gas,i)
        rotated_cost = rotate(cost,i)
        
        # run through the rotated lists
        petrol = rotated_gas[0] - rotated_cost[0] + rotated_gas[1]
        for j in range(2,len(rotated_gas)):
            
            petrol = petrol - rotated_cost[j-1] + rotated_gas[j]
            
        if petrol - rotated_cost[-1] >= 0:
            print("Start the journey from index: %s"%(i))

Start the journey from index: 3

# chatgpt's solution:

In [26]:
def can_circuit(gas, cost, start):
    n = len(gas)
    tank = 0

    for i in range(n):
        station = (start + i) % n
        tank += gas[station] - cost[station]

        if tank < 0:
            return False

    return True

def find_starting_station(gas, cost):
    total_gas = sum(gas)
    total_cost = sum(cost)

    if total_gas < total_cost:
        return -1  # If total gas is less than total cost, there is no solution.

    n = len(gas)
    tank = 0
    start = 0

    for i in range(n):
        tank += gas[i] - cost[i]

        if tank < 0:
            # If the tank becomes negative, start from the next station.
            tank = 0
            start = i + 1

    # If you can travel around the circuit, return the starting index; otherwise, return -1.
    return start if can_circuit(gas, cost, start) else -1

# Example 1
gas1 = [1, 2, 3, 4, 5]
cost1 = [3, 4, 5, 1, 2]
output1 = find_starting_station(gas1, cost1)
print(output1)  # Output: 3

# Example 2
gas2 = [2, 3, 4]
cost2 = [3, 4, 3]
output2 = find_starting_station(gas2, cost2)
print(output2)  # Output: -1

3
-1

# exploration,analysis and freethrows

In [1]:
def can_travel(gas, cost, start):
    n = len(gas)
    tank = 0

    for i in range(n):
        station = (start + i) % n
        tank += gas[station] - cost[station]

        if tank < 0:
            return False

    return True

gas = [1,2,3,4,5]
cost = [3,4,5,1,2]
start = 0
can_travel(gas,cost,start)

False

In [2]:
can_travel(gas,cost,start=3)

True

In [25]:
n = len(gas)
tank = 0

gas = [1,2,3,4,5]
cost = [3,4,5,1,2]
start = 3
for i in range(n):
    print("i:{}".format(i))
    
    station = (start + i) % n
    print("start+i:{}".format(start + i))
    print("station:{}".format(station))
    
    tank += gas[station] - cost[station]
    print('gas:{}'.format(gas[station]))
    print('cost:{}'.format(cost[station]))
    print("tank: {}".format(tank))
    
    print('--------------')

i:0
start+i:3
station:3
gas:4
cost:1
tank: 3
--------------
i:1
start+i:4
station:4
gas:5
cost:2
tank: 6
--------------
i:2
start+i:5
station:0
gas:1
cost:3
tank: 4
--------------
i:3
start+i:6
station:1
gas:2
cost:4
tank: 2
--------------
i:4
start+i:7
station:2
gas:3
cost:5
tank: 0
--------------

In [19]:
# the modulus operator can give the information about how far away a number is from the multiples of its divisor.

a = 3%5
a

3

In [20]:
16%5

1

In [21]:
8%5

3

In [22]:
0%5

0

In [23]:
4%5

4

In [26]:
-1%5

4

# conclusion: explanations

1. **station = (start + i) % n. starting index determines where to start in gas and cost.  %n determines the movement inside the list. for example once the start+i becomes 5 then the index becomes 0 rather than going out of index. this is the best method for making circuits within the array.**

In [27]:
def find_starting_station(gas, cost):
    total_gas = sum(gas)
    total_cost = sum(cost)

    if total_gas < total_cost:
        return -1  # If total gas is less than total cost, there is no solution.

    n = len(gas)
    tank = 0
    start = 0

    for i in range(n):
        tank += gas[i] - cost[i]

        if tank < 0:
            # If the tank becomes negative, start from the next station.
            tank = 0
            start = i + 1

    # If you can travel around the circuit, return the starting index; otherwise, return -1.
    return start if can_travel(gas, cost, start) else -1

# exploration,analysis and freethrows

In [28]:
gas = [1,2,3,4,5]
cost = [3,4,5,1,2]

sum(gas) - sum(cost)

0

In [1]:
gas = [1,2,3,4,5]
cost = [3,4,5,1,2]
n = len(gas)
tank = 0
start = 0

for i in range(n):
    print("tank:{}".format(tank))
    print('gas:{}'.format(gas[i]))
    print('cost:{}'.format(cost[i]))
    tank += gas[i] - cost[i]
    print('tank:{}'.format(tank))
    
    if tank < 0:
            # If the tank becomes negative, start from the next station.
            tank = 0
            start = i + 1
            print('tank:{}'.format(tank))
            print('start:{}'.format(start))
    
    print('-----------')

tank:0
gas:1
cost:3
tank:-2
tank:0
start:1
-----------
tank:0
gas:2
cost:4
tank:-2
tank:0
start:2
-----------
tank:0
gas:3
cost:5
tank:-2
tank:0
start:3
-----------
tank:0
gas:4
cost:1
tank:3
-----------
tank:3
gas:5
cost:2
tank:6
-----------

# my solution for the gas problem (after exhaustive hours of studies)

In [40]:
def can_circuit(gas,cost,start_index):
    n = len(gas)
    fuel = 0 
    
    for i in range(n):
        index = (i+start_index)%n
        
        fuel += gas[index]-cost[index]
        
    if fuel < 0:
        return False
    else:
        return True
    
def find_start_index(gas,cost):
    n = len(gas)
    fuel = 0
    
    if sum(gas) < sum(cost):
        return -1
    
    for i in range(n):
        fuel += gas[i] - cost[i]
        
        # if the fuel becomes negative zero the fuel and move the start to next index.
        # we don't have to worry about start_index going out of range of the list since sum(gas) < sum(cost) return -1 takes care of it.
        
        if fuel < 0:
            fuel = 0
            start_index = i+1
            
    return start_index if can_circuit(gas,cost,start_index) else -1

In [41]:
gas = [1,2,3,4,5]
cost = [3,4,5,1,2]

find_start_index(gas,cost)

3

# day 247

# candies

There are n children standing in a line. Each child is assigned a rating value given in the integer array ratings.

You are giving candies to these children subjected to the following requirements:

Each child must have at least one candy.
Children with a higher rating get more candies than their neighbors.
Return the minimum number of candies you need to have to distribute the candies to the children.

 

Example 1:

Input: ratings = [1,0,2]
Output: 5
Explanation: You can allocate to the first, second and third child with 2, 1, 2 candies respectively.
Example 2:

Input: ratings = [1,2,2]
Output: 4
Explanation: You can allocate to the first, second and third child with 1, 2, 1 candies respectively.
The third child gets 1 candy because it satisfies the above two conditions.

# steps:
1. Initialize an array candies of length n with all values set to 1. This array will represent the minimum number of candies each child must have.

2. First, traverse the array from left to right, and for each child, compare its rating with the previous child. If the current child has a higher rating, update its candy count to be one more than the previous child.

3. Then, traverse the array from right to left, and for each child, compare its rating with the next child. If the current child has a higher rating and doesn't have more candies than the next child, update its candy count to be one more than the next child.

4. Calculate the sum of the candies array to get the minimum total number of candies needed.

In [7]:
ratings = [1,0,2]
n = len(ratings)
candies = [1] * n

# traverse from left to right
for i in range(1,n):
    # if rating of the child is higher than the previous child 
    if ratings[i] > ratings[i-1]:
        
        # then give the child one candy more than the previous child.
        candies[i] = candies[i-1] + 1
        
# traverse from right to left
for i in range(n-2,-1,-1):
    # even though the rating is high but the number of candies the child hold are lesser
    if ratings[i] > ratings[i+1] and candies[i] <= candies[i+1]:
        
        # then give the child one candy more than the next child
        candies[i] = candies[i+1] + 1 
        
sum(candies)

5

In [2]:
# chatgpt's solution:
def distributeCandies(ratings):
    n = len(ratings)
    candies = [1] * n

    # Traverse from left to right
    for i in range(1, n):
        if ratings[i] > ratings[i - 1]:
            candies[i] = candies[i - 1] + 1

    # Traverse from right to left
    for i in range(n - 2, -1, -1):
        if ratings[i] > ratings[i + 1] and candies[i] <= candies[i + 1]:
            candies[i] = candies[i + 1] + 1

    # Calculate the total number of candies
    total_candies = sum(candies)

    return total_candies

# Example usage:
ratings1 = [1, 0, 2]
ratings2 = [1, 2, 2]

output1 = distributeCandies(ratings1)
output2 = distributeCandies(ratings2)

print("Output 1:", output1)  # Output: 5
print("Output 2:", output2)  # Output: 4

Output 1: 5
Output 2: 4

# exploration,analysis and freethrows

In [4]:
# Traverse from right to left
ratings = [1,0,2]
n = len(ratings)
candies = [1] * n
for i in range(n - 2, -1, -1):
    print(i)
#     if ratings[i] > ratings[i + 1] and candies[i] <= candies[i + 1]:
#         candies[i] = candies[i + 1] + 1

1
0

# day 249,day251

# Rain water Harversting:

Given n non-negative integers representing an elevation map where the width of each bar is 1, compute how much water it can trap after raining. Input: height = [0,1,0,2,1,0,1,3,2,1,2,1]
Output: 6
Explanation: The above elevation map (black section) is represented by array [0,1,0,2,1,0,1,3,2,1,2,1]. In this case, 6 units of rain water (blue section) are being trapped.
Example 2:

Input: height = [4,2,0,3,2,5]
Output: 9

The problem of trapping rainwater in the context of elevation maps has real-world applications, especially in areas related to [[computer vision]] and image processing. Let's draw a parallel between the rainwater trapping problem and some practical scenarios:

1. **Image Segmentation:**
   - In computer vision, image segmentation involves dividing an image into meaningful regions. The elevation map problem is analogous to identifying distinct objects or regions within an image.
   - Each elevation peak could represent an object, and the valleys between them could represent the background or separation between objects.
   - Trapping rainwater between bars can be likened to isolating and delineating specific areas of interest within an image.

2. **Object Detection:**
   - Object detection in images often requires identifying boundaries and shapes of objects. The rainwater trapping problem aligns with finding the boundaries or contours of objects in an image.
   - The peaks and valleys in the elevation map correspond to the boundaries of different objects, and the water trapped symbolizes the area enclosed by those boundaries.

3. **Feature Extraction:**
   - Extracting relevant features from an image is crucial in computer vision tasks. The problem of rainwater trapping can be seen as extracting features related to the shape and structure of objects within an image.
   - Understanding the patterns between elevation points can help in recognizing and describing specific features of interest.

4. **Image Understanding:**
   - The rainwater trapping problem reflects the challenge of understanding the spatial relationships between different elements in an image.
   - By solving this problem, you develop an intuition for how different parts of an image interact and how information is distributed spatially.

# Application of rain water trapping to finding non-physical entities:

The concept of rainwater trapping, as applied to elevation maps, may not directly translate to finding non-physical entities. However, we can draw a metaphorical parallel to highlight the importance of spatial relationships and segmentation.

1. **Spatial Relationships in Non-Physical Entities:**
   - Non-physical entities may be represented in various ways, such as data patterns, networks, or abstract structures. Understanding the spatial relationships between these entities is crucial for analysis.
   - The rainwater trapping problem emphasizes the importance of recognizing patterns and relationships between elevation points. Similarly, in the realm of non-physical entities, understanding how different elements relate to each other is fundamental.

2. **Segmentation of Abstract Structures:**
   - In computer vision, segmentation involves breaking down an image into distinct regions. In the context of non-physical entities, segmentation could involve isolating specific components or patterns within a complex system.
   - Solving the rainwater trapping problem develops an intuition for segmenting different regions based on spatial characteristics. This mindset can be applied to identify and analyze distinct features within non-physical entities.

3. **Feature Extraction for Abstract Entities:**
   - Feature extraction in computer vision focuses on capturing relevant information from an image. Similarly, when dealing with non-physical entities, extracting meaningful features or attributes is essential for analysis.
   - The rainwater trapping problem, while not directly related, encourages thinking about how to extract information from spatial configurations. This mindset can be applied to identify and extract important features from non-physical entities.

conclusion:  while the rainwater trapping problem itself may not have a direct application to finding non-physical entities, the underlying principles of spatial relationships, segmentation, and feature extraction are transferable.

# formula to keep in mind for measuring the volume of troughs between peaks in similar challenges:

# $$ \text{volume of water trapped } = \sum_{i=0}^{n} \text{min( }  \text{left_max}_i \text{,right_max}_i \text{)} -\text{height}_i$$

In [12]:
def trap(height):
    n = len(height)
    
    if n <= 2:
        return 0  # Cannot trap water with less than three elevations
    
    left_max = [0] * n
    right_max = [0] * n
    
    left_max[0] = height[0]
    for i in range(1, n):
        left_max[i] = max(left_max[i - 1], height[i])
    
    right_max[n - 1] = height[n - 1]
    for i in range(n - 2, -1, -1):
        right_max[i] = max(right_max[i + 1], height[i])
    
    water_trapped = 0
    for i in range(n):
        water_trapped += min(left_max[i], right_max[i]) - height[i]
    
    return water_trapped

# Example usage:
height1 = [0,1,0,2,1,0,1,3,2,1,2,1]
print(trap(height1))  # Output: 6

height2 = [4,2,0,3,2,5]
print(trap(height2))  # Output: 9

6
9

# exploration,analysis and free throws

In [1]:
height = [0,1,0,2,1,0,1,3,2,1,2,1]
n = len(height)
    
if n <= 2:
    print(0)  # Cannot trap water with less than three elevations

left_max = [0] * n

print("left_max:{}".format(left_max))
left_max[0] = height[0]
print("left_max:{}".format(left_max))
for i in range(1, n):
    left_max[i] = max(left_max[i - 1], height[i])
    print("max:{}".format(max(left_max[i-1],height[i])))
    
left_max

left_max:[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
left_max:[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
max:1
max:1
max:2
max:2
max:2
max:2
max:3
max:3
max:3
max:3
max:3

[0, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 3]

In [2]:
height = [0,1,0,2,1,0,1,3,2,1,2,1]
n = len(height)
    
if n <= 2:
    print(0)  # Cannot trap water with less than three elevations

right_max = [0] * n
print('right_max:{}'.format(right_max))

right_max[n - 1] = height[n - 1] # append the last index of height to last index of right_max
print('right_max:{}'.format(right_max))

for i in range(n - 2, -1, -1): # move from one before last till zero'th index(including) in backwards.
    right_max[i] = max(right_max[i + 1], height[i])
    print('max:{}'.format(max(right_max[i+1],height[i])))
    
print('right_max:{}'.format(right_max))

right_max:[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
right_max:[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]
max:2
max:2
max:2
max:3
max:3
max:3
max:3
max:3
max:3
max:3
max:3
right_max:[3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 1]

In [3]:

print('left_max:{}'.format(left_max))
print('right_max:{}'.format(right_max))
print('height:{}'.format(height))

water_trapped = 0
for i in range(n):
    water_trapped += min(left_max[i], right_max[i]) - height[i]
    print('water_trapped: {}'.format(water_trapped))
    
print('water_trapped_final:{}'.format(water_trapped))

left_max:[0, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 3]
right_max:[3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 1]
height:[0, 1, 0, 2, 1, 0, 1, 3, 2, 1, 2, 1]
water_trapped: 0
water_trapped: 0
water_trapped: 1
water_trapped: 1
water_trapped: 2
water_trapped: 4
water_trapped: 5
water_trapped: 5
water_trapped: 5
water_trapped: 6
water_trapped: 6
water_trapped: 6
water_trapped_final:6

# day 251,day 255

# Roman Numerals
Roman numerals are represented by seven different symbols: I, V, X, L, C, D and M.

-----------------
|Symbol |  Value |
|-------|--------|
|I      | 1      |
|V      | 5      |
|X      | 10     |
|L      | 50     |
|C      | 100    |
|D      | 500    |
|M      | 1000   |


-------------------
For example, 2 is written as II in Roman numeral, just two ones added together. 12 is written as XII, which is simply X + II. The number 27 is written as XXVII, which is XX + V + II.

Roman numerals are usually written largest to smallest from left to right. However, the numeral for four is not IIII. Instead, the number four is written as IV. Because the one is before the five we subtract it making four. The same principle applies to the number nine, which is written as IX. There are six instances where subtraction is used:

I can be placed before V (5) and X (10) to make 4 and 9. 
X can be placed before L (50) and C (100) to make 40 and 90. 
C can be placed before D (500) and M (1000) to make 400 and 900.
Given a roman numeral, convert it to an integer.

 

Example 1:

Input: s = "III"
Output: 3
Explanation: III = 3.
Example 2:

Input: s = "LVIII"
Output: 58
Explanation: L = 50, V= 5, III = 3.
Example 3:

Input: s = "MCMXCIV"
Output: 1994
Explanation: M = 1000, CM = 900, XC = 90 and IV = 4.
 

Constraints:

* 1 <= s.length <= 15
* s contains only the characters ('I', 'V', 'X', 'L', 'C', 'D', 'M').
* It is guaranteed that s is a valid roman numeral in the range [1, 3999].

In [3]:
def romanToInt(s):
    # Dictionary to store the values of Roman numerals
    roman_dict = {'I': 1, 'V': 5, 'X': 10, 'L': 50, 'C': 100, 'D': 500, 'M': 1000}
    
    # Initialize the result
    result = 0
    
    # Iterate through the Roman numeral string
    for i in range(len(s)):
        # If the current value is less than the next value, subtract it
        if i < len(s) - 1 and roman_dict[s[i]] < roman_dict[s[i + 1]]:
            result -= roman_dict[s[i]]
        else:
            result += roman_dict[s[i]]
    
    return result

# Test cases
print(romanToInt("III"))     # Output: 3
print(romanToInt("LVIII"))   # Output: 58
print(romanToInt("MCMXCIV")) # Output: 1994

3
58
1994

# exploration,analysis and freethrows

In [21]:
s = 'MCMXCIV'

# Dictionary to store the values of Roman numerals;
roman_dict = {'I': 1, 'V': 5, 'X': 10, 'L': 50, 'C': 100, 'D': 500, 'M': 1000}

# Initialize the result
result = 0

print('Roman Number is: {}'.format(s))
# Iterate through the Roman numeral string
for i in range(len(s)):
    
    # If the current value is less than the next value, subtract it
    if i < len(s) - 1 and roman_dict[s[i]] < roman_dict[s[i + 1]]:
        print('I inside1: {} '.format(i))
        print('Inside S current is: {} '.format(s[i]))
        print('Inside S next is: {} '.format(s[i+1]))
        result -= roman_dict[s[i]]
        
    else:
        result += roman_dict[s[i]]
        
        
    print("i is: {} & result is: {} \n".format(i,result))
        
result

Roman Number is: MCMXCIV
i is: 0 & result is: 1000

I inside1: 1
Inside S current is: C
Inside S next is: M
i is: 1 & result is: 900

i is: 2 & result is: 1900

I inside1: 3
Inside S current is: X
Inside S next is: C
i is: 3 & result is: 1890

i is: 4 & result is: 1990

I inside1: 5
Inside S current is: I
Inside S next is: V
i is: 5 & result is: 1989

i is: 6 & result is: 1994

1994

# Integers to Romans

Roman numerals are represented by seven different symbols: I, V, X, L, C, D and M.

-----------------
|Symbol |  Value |
|-------|--------|
|I      | 1      |
|V      | 5      |
|X      | 10     |
|L      | 50     |
|C      | 100    |
|D      | 500    |
|M      | 1000   |


-------------------
For example, 2 is written as II in Roman numeral, just two one's added together. 12 is written as XII, which is simply X + II. The number 27 is written as XXVII, which is XX + V + II.

Roman numerals are usually written largest to smallest from left to right. However, the numeral for four is not IIII. Instead, the number four is written as IV. Because the one is before the five we subtract it making four. The same principle applies to the number nine, which is written as IX. There are six instances where subtraction is used:

I can be placed before V (5) and X (10) to make 4 and 9. 
X can be placed before L (50) and C (100) to make 40 and 90. 
C can be placed before D (500) and M (1000) to make 400 and 900.
Given an integer, convert it to a roman numeral.

 

Example 1:

Input: num = 3
Output: "III"
Explanation: 3 is represented as 3 ones.
Example 2:

Input: num = 58
Output: "LVIII"
Explanation: L = 50, V = 5, III = 3.
Example 3:

Input: num = 1994
Output: "MCMXCIV"
Explanation: M = 1000, CM = 900, XC = 90 and IV = 4.


# pseudo code:
 To convert an integer to a Roman numeral, you can follow these steps:

1. Create a list of tuples representing the Roman numeral symbols and their corresponding values, ordered from largest to smallest.
2. Iterate through the list and repeatedly subtract the largest possible Roman numeral value from the given integer while appending the corresponding symbol to the result.
3. Repeat this process until the integer becomes 0.

In [16]:
num = 1994

# it needs to be ordered
dic = {1000:'M',900:'CM',500:'D',400:'CD',100:'C',90:'XC',50:'L',40:'XL',10:'X',
       9:'IX',5:'V',4:'IV',1:'I'}

result = ""

for key,value in dic.items():
    while num >= key:
        result = result + value
        num = num-key
        
result

'MCMXCIV'

# exploration,analysis and freethrows

In [5]:
dic = {1000:'M',900:'CM',500:'D',400:'CD',100:'C',90:'XC',50:'L',40:'XL',10:'X',
       9:'IX',5:'V',4:'IV',1:'I'}

result = ''

num = 19
for key,value in dic.items():
    
    while num >= key:
        result = result + value
        print("result is: {}".format(result))
        print("key is: {}".format(key))
        num = num - key
        print("transformed num: {} \n".format(num))
        

# how the key changes? 
"""key just remains the same. it doesn't change. num changes. the condition while(num >= key) selects the right key"""

result is: X
key is: 10
transformed num: 9

result is: XIX
key is: 9
transformed num: 0

"key just remains the same. it doesn't change. num changes. the condition while(num >= key) selects the right key"

In [25]:
dic = {1:'I',5:'V',10:'X',50:'L',100:'C',500:'D',1000:'M'}

list(dic.keys())

[1, 5, 10, 50, 100, 500, 1000]

In [ ]:
"""
# number decomposition:
This function takes an input number i and a list of numbers a. It first sorts the list in descending order and 
then iterates through it, calculating the quotient and remainder at each step. It appends the current number to the 
output list multiple times based on the quotient.

In the context of computer vision, this problem relates to breaking down a complex input into simpler components, 
much like the way computer vision algorithms break down and analyze visual information into meaningful features. 
It emphasizes the importance of decomposition and pattern recognition, which are key concepts in both problem-solving and 
computer vision.
"""

def decompose_number(i, a):
    # Sort the list of numbers in descending order
    a.sort(reverse=True)
    
    # Initialize an empty list to store the decomposed numbers
    output = []
    
    # Iterate through the numbers in the list
    for num in a:
        # Calculate the quotient and remainder
        quotient, i = divmod(i, num)
        
        # Append the current number to the output list multiple times
        output.extend([num] * quotient)
    
    return output

# Test case
input_number = 58
numbers_list = [1, 5, 10, 50, 100, 500, 1000]

result = decompose_number(input_number, numbers_list)
print(result)  # Output: [50, 5, 1, 1, 1]

In [2]:
input_number = 1994
number_list = [1, 5, 10, 50, 100, 500, 1000]

# Sort the list of numbers in descending order
number_list.sort(reverse=True)

# Initialize an empty list to store the decomposed numbers
output = []

print(number_list)
# Iterate through the numbers in the list
for divisive_num in number_list:
    # Calculate the quotient and remainder
    
    print('divisive_num: {}'.format(divisive_num))
    quotient, input_number = divmod(input_number, divisive_num)
    print('Quotient: {}, input_number: {} \n'.format(quotient,input_number))

    # Append the current number to the output list multiple times
    output.extend([divisive_num] * quotient)

output

[1000, 500, 100, 50, 10, 5, 1]
divisive_num: 1000
Quotient: 1, input_number: 994

divisive_num: 500
Quotient: 1, input_number: 494

divisive_num: 100
Quotient: 4, input_number: 94

divisive_num: 50
Quotient: 1, input_number: 44

divisive_num: 10
Quotient: 4, input_number: 4

divisive_num: 5
Quotient: 0, input_number: 4

divisive_num: 1
Quotient: 4, input_number: 0

[1000, 500, 100, 100, 100, 100, 50, 10, 10, 10, 10, 1, 1, 1, 1]

array([10,  5,  1,  1,  1,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0],
      dtype=int32)

# day 258

# return the length of the last word:

Given a string s consisting of words and spaces, return the length of the last word in the string.

A word is a maximal 
substring
 consisting of non-space characters only.

 

Example 1:

Input: s = "Hello World"
Output: 5
Explanation: The last word is "World" with length 5.
Example 2:

Input: s = "   fly me   to   the moon  "
Output: 4
Explanation: The last word is "moon" with length 4.
Example 3:

Input: s = "luffy is still joyboy"
Output: 6
Explanation: The last word is "joyboy" with length 6.
 

Constraints:

1 <= s.length <= 104
s consists of only English letters and spaces ' '.
There will be at least one word in s.

In [10]:
def length_of_last_word(s:str):
    return len(s.split()[-1])


s = "luffy is still               joyboy"
length_of_last_word(s)

6

# exploration analysis and freethrows

In [11]:
s = "luffy is still               joyboy"

s.split() # the extra spaces are ignored because it splits with the space as the 'delimiter'

['luffy', 'is', 'still', 'joyboy']

In [12]:
s.split()[-1]

'joyboy'

In [13]:
len(s.split()[-1]) # we can count character by character in a string.

6

# day 259

# longest common prefix:
Write a function to find the longest common prefix string amongst an array of strings.

If there is no common prefix, return an empty string "".

 

Example 1:

Input: strs = ["flower","flow","flight"]
Output: "fl"
Example 2:

Input: strs = ["dog","racecar","car"]
Output: ""
Explanation: There is no common prefix among the input strings.
 

Constraints:

* 1 <= strs.length <= 200
* 0 <= strs[i].length <= 200
* strs[i] consists of only lowercase English letters

In [6]:
def longest_common_prefix(strs):
    if not strs:
        return ""

    # Sort the strings to ensure common prefix is at the beginning
    strs.sort()

    # Take the first and last strings in the sorted array
    first_str = strs[0]
    last_str = strs[-1]

    # Find the common prefix between the first and last strings
    common_prefix = ""
    for i in range(len(first_str)):
        if i < len(last_str) and first_str[i] == last_str[i]:
            common_prefix += first_str[i]
        else:
            break # so we don't have to run through the entire loop saving compute.

    return common_prefix

# Example usage:
strs1 = ["flower", "flow", "flight"]
strs2 = ["dog", "racecar", "car"]

print(longest_common_prefix(strs1))  # Output: "fl"
print(longest_common_prefix(strs2))  # Output: ""

fl

# exploration,analysis and freethrows

In [2]:
strs = ['flower','flow','flight']

strs.sort()

strs

['flight', 'flow', 'flower']

In [3]:
strs = ['dogs','cocks','books']

strs.sort()

strs

['books', 'cocks', 'dogs']

In [7]:
strs = ['abk','abc','abddfsdfs']

strs.sort()

strs

['abc', 'abddfsdfs', 'abk']

# conclusion about .sort();

* sort arranges the words in alphabetical order. I know you know that.
* so, since words are already arranged in alphabetical order all we have to do is just check the commanality between first and last word only.
* that's the whole algorithm is about.

# day 259

# Reverse words in a string:

Given an input string s, reverse the order of the words.

A word is defined as a sequence of non-space characters. The words in s will be separated by at least one space.

Return a string of the words in reverse order concatenated by a single space.

Note that s may contain leading or trailing spaces or multiple spaces between two words. The returned string should only have a single space separating the words. Do not include any extra spaces.

 

Example 1:

Input: s = "the sky is blue"
Output: "blue is sky the"
Example 2:

Input: s = "  hello world  "
Output: "world hello"
Explanation: Your reversed string should not contain leading or trailing spaces.
Example 3:

Input: s = "a good   example"
Output: "example good a"
Explanation: You need to reduce multiple spaces between two words to a single space in the reversed string.
 

Constraints:

1 <= s.length <= 104
s contains English letters (upper-case and lower-case), digits, and spaces ' '.
There is at least one word in s.
 

Follow-up: If the string data type is mutable in your language, can you solve it in-place with O(1) extra space?


## pseudo code;

### Naive approach(BASELINE):
1. split the words.
2. reverse the list by indexation for O(1) space complexity

In [38]:
def reverse_words(s):
    return ','.join(s.split()[::-1]).replace(',',' ')

In [39]:
reverse_words('Hello      World') # empty space proof!!

'World Hello'

In [40]:
reverse_words('a    good           example')

'example good a'

# exploration,analysis and freethrows

In [30]:
s = 'The Sky is Blue'

s.split()

['The', 'Sky', 'is', 'Blue']

In [34]:
s.split()[::-1]

['Blue', 'is', 'Sky', 'The']

In [41]:
','.join(s.split()[::-1])

'Blue,is,Sky,The'

In [35]:
','.join(s.split()[::-1]).replace(',',' ')

'Blue is Sky The'

# Zig-Zag conversion
The string "PAYPALISHIRING" is written in a zigzag pattern on a given number of rows like this: (you may want to display this pattern in a fixed font for better legibility)

P   A   H   N
A P L S I I G
Y   I   R
And then read line by line: "PAHNAPLSIIGYIR".

Write the code that will take a string and make this conversion given a number of rows:

string convert(string s, int numRows);
 

Example 1:

Input: s = "PAYPALISHIRING", numRows = 3
Output: "PAHNAPLSIIGYIR"

---------------
Example 2:
Input: s = "PAYPALISHIRING", numRows = 4
Output: "PINALSIGYAHRPI"
Explanation:
P     I    N
A   L S  I G
Y A   H R
P     I
Example 3:

Input: s = "A", numRows = 1
Output: "A"

In [ ]:
def convert(s, numRows):
    if numRows == 1 or numRows >= len(s):
        return s
    
    result = [''] * numRows
    index, step = 0, 1
    
    for char in s:
        result[index] += char
        if index == 0:
            step = 1
        elif index == numRows - 1:
            step = -1
        index += step
    
    return ''.join(result)

# Example 1
s1 = "PAYPALISHIRING"
numRows1 = 3
output1 = convert(s1, numRows1)
print(output1)  # Output: "PAHNAPLSIIGYIR"

# Example 2
s2 = "PAYPALISHIRING"
numRows2 = 4
output2 = convert(s2, numRows2)
print(output2)  # Output: "PINALSIGYAHRPI"

# Example 3
s3 = "A"
numRows3 = 1
output3 = convert(s3, numRows3)
print(output3)  # Output: "A"

# exploration,analysis and freethrows


reference:
P   A   H   N
A P L S I I G
Y   I   R

In [16]:
s = "PAYPALISHIRING"
numRows = 3

result = [''] * numRows

result

['', '', '']

In [17]:
index, step = 0, 1
    
for char in s:
    print('original string: ',s)
    result[index] += char
    print('char: ',char)
    print('result: ',result[index])
    if index == 0:
        step = 1
        print('index: ',index)
        print('step: ',step)
    elif index == numRows - 1:
        print('index: ',index)
        print('step: ',step)
        step = -1
    print('----------------')
    index += step
    
print('result before join: ', result)
print('result after join: ',''.join(result))

original string:  PAYPALISHIRING
char:  P
result:  P
index:  0
step:  1
----------------
original string:  PAYPALISHIRING
char:  A
result:  A
----------------
original string:  PAYPALISHIRING
char:  Y
result:  Y
index:  2
step:  1
----------------
original string:  PAYPALISHIRING
char:  P
result:  AP
----------------
original string:  PAYPALISHIRING
char:  A
result:  PA
index:  0
step:  1
----------------
original string:  PAYPALISHIRING
char:  L
result:  APL
----------------
original string:  PAYPALISHIRING
char:  I
result:  YI
index:  2
step:  1
----------------
original string:  PAYPALISHIRING
char:  S
result:  APLS
----------------
original string:  PAYPALISHIRING
char:  H
result:  PAH
index:  0
step:  1
----------------
original string:  PAYPALISHIRING
char:  I
result:  APLSI
----------------
original string:  PAYPALISHIRING
char:  R
result:  YIR
index:  2
step:  1
----------------
original string:  PAYPALISHIRING
char:  I
result:  APLSII
----------------
original string:  PAYPALISHIRING
char:  N
result:  PAHN
index:  0
step:  1
----------------
original string:  PAYPALISHIRING
char:  G
result:  APLSIIG
----------------
result before join:  ['PAHN', 'APLSIIG', 'YIR']
result after join:  PAHNAPLSIIGYIR

# day 263

# Find the Index of the first occurence in a string.

Given two strings needle and haystack, return the index of the first occurrence of needle in haystack, or -1 if needle is not part of haystack.

 

Example 1:

Input: haystack = "sadbutsad", needle = "sad"
Output: 0
Explanation: "sad" occurs at index 0 and 6.
The first occurrence is at index 0, so we return 0.
Example 2:

Input: haystack = "leetcode", needle = "leeto"
Output: -1
Explanation: "leeto" did not occur in "leetcode", so we return -1.
 

Constraints:

* 1 <= haystack.length, needle.length <= 104
* haystack and needle consist of only lowercase English characters.

## naive pseudo code:
* run a for loop till the end of the string(haystack) with enumeration capturing both the indices and the corresponding values.
* access individual components of the haystack and check whether they are `sequentially` equal to those words in the needle.
* have the index variable set to 0 in the beginning and increment it by 1 only if the character in the haystack matches with the characters in the needle and when they do not match make the index go to 0.
* if the index == len(needle) -1 then return indices - index.

In [27]:
def needle_in_haystack(haystack,needle):
    
    # if the needle has no string then just return the first index
    if len(needle) < 1: 
        return 0
    
    index,step = 0,0
    if needle in haystack:
        
        for indices,chars in enumerate(haystack):
            if index < len(needle) and needle[index] == chars:
                step = 1
                print(index)
                print("char: {}".format(chars))
                
                if index == len(needle)-1:
                    return indices - index
                
            elif needle[index] != chars:
                step = 0
                
            index = index + step

        
            
    else:
        return -1
    
haystack = 'sadbutsad'

needle = 'sad'

def total_time(start,end):
    total = end- start
    print("Total Running Time is : {}".format(total))

import time 
start = time.perf_counter()
needle_in_haystack(haystack,needle)
end = time.perf_counter()
total_time(start,end)

0
char: s
1
char: a
2
char: d
Total Running Time is : 0.00039230000038514845

In [28]:
# efficient algorithm
def strStr(haystack, needle):
    
    # if there is nothing in the needle
    if not needle:
        return 0
    
    # if the needle is bigger than the haystack
    if len(needle) > len(haystack):
        return -1
    
    for i in range(len(haystack) - len(needle) + 1):
        if haystack[i:i + len(needle)] == needle:
            return i
    
    return -1

# Example usage:
start = time.perf_counter()
haystack1 = "sadbutsad"
needle1 = "sad"
result1 = strStr(haystack1, needle1)
print(f"Output for Example 1: {result1}")
end  = time.perf_counter()
total_time(start,end)

Output for Example 1: 0
Total Running Time is : 0.00032470000041939784

# exploration,analysis and freethrows

In [32]:
haystack = 'sadbutsad'
needle = 'sad'

len(haystack) - len(needle) +1

7

In [33]:
haystack[0:0+len(needle)]

'sad'

In [34]:
haystack[1:1+len(needle)]

'adb'

In [35]:
haystack[2:2+len(needle)]

'dbu'

In [36]:
for i in range(len(haystack) - len(needle) + 1):
    if haystack[i:i + len(needle)] == needle:
        print(i)
        break

0

In [37]:
# needle is bigger than the haystack lets see how the in operator handles it
needle = 'sadbutsadick'
haystack = 'sadbutsad'

needle in haystack

False

In [ ]:
haystack in needle

# day 265

# Text Justification
Given an array of strings words and a width maxWidth, format the text such that each line has exactly maxWidth characters and is fully (left and right) justified.

You should pack your words in a greedy approach; that is, pack as many words as you can in each line. Pad extra spaces ' ' when necessary so that each line has exactly maxWidth characters.

Extra spaces between words should be distributed as evenly as possible. If the number of spaces on a line does not divide evenly between words, the empty slots on the left will be assigned more spaces than the slots on the right.

For the last line of text, it should be left-justified, and no extra space is inserted between words.

Note:

A word is defined as a character sequence consisting of non-space characters only.
Each word's length is guaranteed to be greater than 0 and not exceed maxWidth.
The input array words contains at least one word.
 

Example 1:

Input: words = ["This", "is", "an", "example", "of", "text", "justification."], maxWidth = 16
Output:
[
   "This    is    an",
   "example  of text",
   "justification.  "
]
Example 2:

Input: words = ["What","must","be","acknowledgment","shall","be"], maxWidth = 16
Output:
[
  "What   must   be",
  "acknowledgment  ",
  "shall be        "
]
Explanation: Note that the last line is "shall be    " instead of "shall     be", because the last line must be left-justified instead of fully-justified.
Note that the second line is also left-justified because it contains only one word.
Example 3:

Input: words = ["Science","is","what","we","understand","well","enough","to","explain","to","a","computer.","Art","is","everything","else","we","do"], maxWidth = 20
Output:
[
  "Science  is  what we",
  "understand      well",
  "enough to explain to",
  "a  computer.  Art is",
  "everything  else  we",
  "do                  "
]
 

Constraints:

1 <= words.length <= 300
1 <= words[i].length <= 20
words[i] consists of only English letters and symbols.
1 <= maxWidth <= 100
words[i].length <= maxWidth

In [1]:
def full_justify(words, maxWidth):
    result, cur, num_of_letters = [], [], 0
    
    for word in words:
        if num_of_letters + len(word) + len(cur) > maxWidth:
            for i in range(maxWidth - num_of_letters):
                cur[i % (len(cur) - 1 or 1)] += ' '
            result.append(''.join(cur))
            cur, num_of_letters = [], 0
        
        cur += [word]
        num_of_letters += len(word)
    
    result.append(' '.join(cur).ljust(maxWidth))
    return result

# Example usage:
words1 = ["This", "is", "an", "example", "of", "text", "justification."]
maxWidth1 = 16
output1 = full_justify(words1, maxWidth1)
print(output1)

words2 = ["What", "must", "be", "acknowledgment", "shall", "be"]
maxWidth2 = 16
output2 = full_justify(words2, maxWidth2)
print(output2)

words3 = ["Science", "is", "what", "we", "understand", "well", "enough", "to", "explain", "to", "a", "computer.", "Art", "is", "everything", "else", "we", "do"]
maxWidth3 = 20
output3 = full_justify(words3, maxWidth3)
print(output3)

['This    is    an', 'example  of text', 'justification.  ']
['What   must   be', 'acknowledgment  ', 'shall be        ']
['Science  is  what we', 'understand      well', 'enough to explain to', 'a  computer.  Art is', 'everything  else  we', 'do                  ']

# exploration,analysis and freethrows

In [5]:
words = ["This", "is", "an", "example", "of", "text", "justification."]
maxWidth = 16
cur = []
num_of_letters = 0

count = 0
for word in words:
        if num_of_letters + len(word) + len(cur) > maxWidth:
            for i in range(maxWidth - num_of_letters):
                cur[i % (len(cur) - 1 or 1)] += ' '
                
        
        
cur

[]

# neetcode:

# day 271

# contains duplicates or not: 

Given an integer array nums, return true if any value appears at least twice in the array, and return false if every element is distinct.

 

Example 1:

Input: nums = [1,2,3,1]
Output: true
Example 2:

Input: nums = [1,2,3,4]
Output: false
Example 3:

Input: nums = [1,1,1,3,3,4,3,2,4,2]
Output: true
 

# pseudo code:
1. create a dic.
2. add each number of the list as a key in the dic 
3. count the frequency of the key and add it as its value.
4. if the value is more than once then return True indicating the existence of duplicate in the list.
5. else return False indicating the non-existence of the duplicates in the list.
6. use dic.get(key,0) + 1 for counting the frequency.

In [14]:
# fastest solution:
def contains_duplicates(nums):
    return len(nums) != len(set(nums))

result = contains_duplicates([1, 2, 3, 4])
print(result)

False

In [10]:
def contains_duplicates(nums):
    dic = {}
    for num in nums:
        dic[num] = dic.get(num,0) + 1
        
        # check if the value is more than 1
        if dic[num] > 1:
            return True
    return False
contains_duplicates([1,2,3,4])

False

In [11]:
nums = [1,2,3,4,1]

dic = {}

for num in nums:
    dic[num] = dic.get(num,0) + 1
    
    if dic[num] > 1:
        print('True')
        break

True

# Valid Anagram:

Given two strings s and t, return true if t is an anagram of s, and false otherwise.

An Anagram is a word or phrase formed by rearranging the letters of a different word or phrase, typically using all the original letters exactly once.

 

Example 1:

Input: s = "anagram", t = "nagaram"
Output: true
Example 2:

Input: s = "rat", t = "car"
Output: false

In [22]:
def valid_anagram(s:str,t:str):
    return ''.join(sorted(s)) == ''.join(sorted(t))

valid_anagram(s='anagram',t='nagaram')

True

In [23]:
valid_anagram(s='rat',t='car')

False

# exploration,analysis and freethrows

In [18]:
s = 'anagram'
t = 'nagaram'

sorted(s)

['a', 'a', 'a', 'g', 'm', 'n', 'r']

In [19]:
sorted(t)

['a', 'a', 'a', 'g', 'm', 'n', 'r']

In [20]:
''.join(sorted(s))

'aaagmnr'

In [21]:
''.join(sorted(s)) == ''.join(sorted(t))

True

# two sums:

Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.

You may assume that each input would have exactly one solution, and you may not use the same element twice.

You can return the answer in any order.

 

Example 1:

Input: nums = [2,7,11,15], target = 9
Output: [0,1]
Explanation: Because nums[0] + nums[1] == 9, we return [0, 1].
Example 2:

Input: nums = [3,2,4], target = 6
Output: [1,2]
Example 3:

Input: nums = [3,3], target = 6
Output: [0,1]

In [11]:
nums = [3,2,4]
target = 6

dic = {}
for index,number in enumerate(nums):
    complement = target - number
    
    if number in dic: # checks the keys of the dic
        print([dic[number],index]) # returns the element's index and also the current index
        break
        
    else:
        dic[complement] = index # else just add the element to the dic as the key and its index as its value.

# Group Anagrams

Given an array of strings strs, group the anagrams together. You can return the answer in any order.

An Anagram is a word or phrase formed by rearranging the letters of a different word or phrase, typically using all the original letters exactly once.

 

Example 1:

Input: strs = ["eat","tea","tan","ate","nat","bat"]
Output: [["bat"],["nat","tan"],["ate","eat","tea"]]
Example 2:

Input: strs = [""]
Output: [[""]]
Example 3:

Input: strs = ["a"]
Output: [["a"]]
 

Constraints:

1 <= strs.length <= 104
0 <= strs[i].length <= 100
strs[i] consists of lowercase English letters.


# pseudo code:

* sort the string.
* store it as the key for the empty dic. create an empty list for its value.
* append the original string for its value.
* sort the next word and see if it is in the dictionary(checks the keys of the dic) if it is then append this word also to the values list.
* if the sorted version of the word is not in the dictionary then create it as a new key. 
* the process goes on until the end of the all the words in the list.
* return the values of the dic.

In [22]:
strs = ["eat","tea","tan","ate","nat","bat"]

dic = {}

for word in strs:
    
    sorted_word = ''.join(sorted(word))
    
    if sorted_word not in dic:
        dic[sorted_word] = []
    
    
    dic[sorted_word].append(word)
        
        
list(dic.values())

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

# exploration,analysis and freethrows

In [14]:
''.join(sorted(strs[0]))

'aet'

In [28]:
defaultdict(list)

defaultdict(list, {})

# day 281

# Top k-frequent elements:

Given an integer array nums and an integer k, return the k most frequent elements. You may return the answer in any order.

 

Example 1:

Input: nums = [1,1,1,2,2,3], k = 2
Output: [1,2]
Example 2:

Input: nums = [1], k = 1
Output: [1]
 

Constraints:

1 <= nums.length <= 105
-104 <= nums[i] <= 104
k is in the range [1, the number of unique elements in the array].
It is guaranteed that the answer is unique.

## pseudo code:
* get the dictionary to count the frequency of values.
* sort the dictionary in descending order of values.
* return the k frequent elements' keys.

In [35]:
def k_frequent(nums,k):
    dic = {}
    
    for num in nums:
        dic[num] = dic.get(num,0) + 1
    
    
    return list(dict(sorted(dic.items(),key= lambda dic_items: dic_items[1],reverse=True)).keys())[:k]

nums = [4,1,-1,2,-1,2,3]
k = 2
k_frequent(nums,k)

[-1, 2]

# exploration, analysis and freethrows

In [34]:
nums = [4,1,-1,2,-1,2,3]
k = 2

dic = {}

for num in nums:
    dic[num] = dic.get(num,0) + 1
    
sorted_dic = list(dict(sorted(dic.items(),key= lambda dic_items: dic_items[1],reverse=True)).keys())

print("%s frequent elements are: %s "%(k,sorted_dic[:k]))

2 frequent elements are: [-1, 2]

In [25]:
dic

{4: 1, 1: 1, -1: 2, 2: 2, 3: 1}

In [26]:
sorted(dic.items())

[(-1, 2), (1, 1), (2, 2), (3, 1), (4, 1)]

In [22]:
# sort the dictionary items by their first index
sorted(dic.items(), key = lambda dic_item: dic_item[1],reverse=True)

[(-1, 2), (2, 2), (4, 1), (1, 1), (3, 1)]

In [27]:
# convert that into a dic
dict(sorted(dic.items(),key= lambda dic_items: dic_items[1],reverse=True))

{-1: 2, 2: 2, 4: 1, 1: 1, 3: 1}

In [33]:
# sort it further
list(dict(sorted(dic.items(),key= lambda dic_items: dic_items[1],reverse=True)).keys())[:k]

[-1, 2]

In [37]:
# chatgpt solution:

from collections import Counter

def k_frequent(nums, k):
    # Use Counter to count occurrences
    counter = Counter(nums)
    
    # Use most_common to get k most frequent elements
    frequent_elements = [key for key, _ in counter.most_common(k)]
    
    return frequent_elements

# Example usage
nums = [4,1,-1,2,-1,2,3]
k = 2
result = k_frequent(nums, k)
print(result)

[-1, 2]

In [38]:
nums = [4,1,-1,2,-1,2,3]
Counter(nums)

Counter({4: 1, 1: 1, -1: 2, 2: 2, 3: 1})

# Product of self and array:
Given an integer array nums, return an array answer such that answer[i] is equal to the product of all the elements of nums except nums[i].

The product of any prefix or suffix of nums is guaranteed to fit in a 32-bit integer.

You must write an algorithm that runs in O(n) time and without using the division operation.

 

Example 1:

Input: nums = [1,2,3,4]
Output: [24,12,8,6]
Example 2:

Input: nums = [-1,1,0,-3,3]
Output: [0,0,9,0,0]

In [44]:
nums = [1,2,3,4]

n = len(nums)

left_products = [1]*n
right_products = [1]*n

left_prod = 1
for i in range(1,n):
    left_prod = left_prod * nums[i-1]
    left_products[i] = left_prod
    
right_prod = 1
for i in range(n-2,-1,-1): # n-2 = 2
    right_prod = right_prod * nums[i+1]
    right_products[i] = right_prod
    
# merge it 
result = [left_products[i] * right_products[i] for i in range(n)]
result

[24, 12, 8, 6]

# day 283

# encode and decode problem (facebook interview**).

In [33]:
def encode(lis):
    transformed_string = ''
    for string in lis:
        transformed_string += str(len(string)) + '#' + string
        
    return transformed_string



def decode(string):
    decoded,i = [],0
    
    while i < len(string):
        j = i
        
        while string[j] != '#':
            j += 1
        
        length = int(string[i:j])
        
        decoded.append(string[j+1:j+1+length])
        
        #update i to move to the next word
        i = j+1+length
        
    return decoded

In [34]:
lis = ['george','kundi','calculus','kusi']

encode(lis)

'6#george5#kundi8#calculus4#kusi'

In [35]:
type(encode(lis))

str

In [36]:
decode('6#george5#kundi')

['george', 'kundi']

In [37]:
decode(encode(lis))

['george', 'kundi', 'calculus', 'kusi']

# Longest consecutive length

Given an unsorted array of integers nums, return the length of the longest consecutive elements sequence.

You must write an algorithm that runs in O(n) time.

 

Example 1:

Input: nums = [100,4,200,1,3,2]
Output: 4
Explanation: The longest consecutive elements sequence is [1, 2, 3, 4]. Therefore its length is 4.
Example 2:

Input: nums = [0,3,7,2,5,8,4,6,0,1]
Output: 9

# pseudo code:

* convert the list into set for removing duplicates and faster membership checking
* set the counter to 1 and max_counter to 1.
* access the first element from the list (indexing is not possible with set).
* check if the element + 1 also is a member of the set.
* if yes keep iterating and increase the counter 
* down at the bottom update the counter: max_counter = max(counter,max_counter).
* whenever the sequence breaks, reset the counter to 1.
* keep repeating the procedure until the end of the list.
* return the counter.

In [8]:
nums = [0,1,-1]


# to remove duplicates and also for faster member access
nums = list(set(nums))

# for order
nums.sort()

# for membership checking
num_set = set(nums)

# counter to 1
counter = 1
max_counter = 1

if len(nums) == 0:
    print(0)

else:
    for num in nums:
        if (num+1) in num_set:
            counter += 1
            max_counter = max(max_counter,counter)
            
        # reset the counter to 1 whenever the sequence breaks
        else:
            counter = 1
    print(max_counter)

3

# day 330,day 333

# Ransom Note:

Given two strings ransomNote and magazine, return true if ransomNote can be constructed by using the letters from magazine and false otherwise.

Each letter in magazine can only be used once in ransomNote.

 

Example 1:

Input: ransomNote = "a", magazine = "b"
Output: false
Example 2:

Input: ransomNote = "aa", magazine = "ab"
Output: false
Example 3:

Input: ransomNote = "aa", magazine = "aab"
Output: true
 

# Naive pseudocode:
* count the occurence of the char in ransomNote and store the char and its corresponding count in a dic.
* do the same for magazine
* see if the value of the char-key for ransomNote is as same as the value of the char-key for magazine.

In [12]:
ransomNote = 'aab'
magazine = 'baa'

dic_ran = {}
dic_mag = {}
for char in ransomNote:
    dic_ran[char] = dic_ran.get(char,0) + 1
    
for char in magazine:
    dic_mag[char] = dic_mag.get(char,0) + 1
    
print("dic_ran: {}".format(dic_ran))
print("dic_mag: {}".format(dic_mag))

dic_ran: {'a': 2, 'b': 1}
dic_mag: {'b': 1, 'a': 2}

In [17]:
count = 0
for char in ransomNote:
    if dic_ran[char] == dic_mag[char]:
        count += 1
        
if count == len(ransomNote):
    print('True')

True

In [1]:
# putting it all together
def canConstruct(ransomNote,magazine):
    dic_ran = {}
    dic_mag = {}

    for char in ransomNote:
        dic_ran[char] = dic_ran.get(char,0) + 1
        
    for char in magazine:
        dic_mag[char] = dic_mag.get(char,0) + 1
        
    for char in ransomNote:
        if char not in dic_mag or  dic_ran[char] > dic_mag[char]: # it returns the corresponding values
            return False
            
    return True

In [4]:
canConstruct(ransomNote='aab',magazine='baa')

True

# exploration,analysis and freethrows

In [14]:
dic_ran['a']

2

In [15]:
dic_mag['a']

2

# day333

# isomorphic strings:

Given two strings s and t, determine if they are isomorphic.

Two strings s and t are isomorphic if the characters in s can be replaced to get t.

All occurrences of a character must be replaced with another character while preserving the order of characters. No two characters may map to the same character, but a character may map to itself.

 

Example 1:

Input: s = "egg", t = "add"
Output: true
Example 2:

Input: s = "foo", t = "bar"
Output: false
Example 3:

Input: s = "paper", t = "title"
Output: true

In [30]:
s = 'egg'
t = 'odd'

"""
# constraints:
1. t and s are of same lengths.
2. they must have one on one correspondence with their characters ('e':'a', 'g':'d','g':'d')
"""

def isIsomorphic(s: str, t: str) -> bool:
    if len(s) != len(t):
        return False
    
    mapping_s_to_t = {}
    mapping_t_to_s = {}
    
    for char_s, char_t in zip(s, t):
        if char_s in mapping_s_to_t:
            if mapping_s_to_t[char_s] != char_t:
                return False
        else:
            mapping_s_to_t[char_s] = char_t
        
        if char_t in mapping_t_to_s:
            if mapping_t_to_s[char_t] != char_s:
                return False
        else:
            mapping_t_to_s[char_t] = char_s
    
    return True

# Test cases
print(isIsomorphic("egg", "add"))    # Output: True
print(isIsomorphic("foo", "bar"))    # Output: False
print(isIsomorphic("paper", "title"))    # Output: True

True
False
True

In [19]:
dic

{'e': 1, 'g': 1}

In [20]:
dic.values()

dict_values([1, 1])

In [1]:
s = 'egg'
t = 'odd'

for char_s,char_t in zip(s,t):
    print(char_s,char_t)

e o
g d
g d

In [2]:
dic = {'a':10,'b':5}

if 'a' in dic:
    print('yes')

yes

# day 347

# word patterns

Given a pattern and a string s, find if s follows the same pattern.

Here follow means a full match, such that there is a bijection between a letter in pattern and a non-empty word in s.

 

Example 1:

Input: pattern = "abba", s = "dog cat cat dog"
Output: true
Example 2:

Input: pattern = "abba", s = "dog cat cat fish"
Output: false
Example 3:

Input: pattern = "aaaa", s = "dog cat cat dog"
Output: false
 

Constraints:

* 1 <= pattern.length <= 300
* pattern contains only lower-case English letters.
* 1 <= s.length <= 3000
* s contains only lowercase English letters and spaces ' '.
* s does not contain any leading or trailing spaces.
* All the words in s are separated by a single space.

url: 
https://leetcode.com/problems/word-pattern/description/?envType=study-plan-v2&envId=top-interview-150

In [11]:
def WordPatterns(pattern,s):
    # getting a list of words from s
    list_s = s.split()
    pattern_to_s = {}
    s_to_pattern = {}
    
    if len(pattern) != len(list_s):
        return False

    for char_p,word_s in zip(pattern,list_s):
        if char_p in pattern_to_s:
            if pattern_to_s[char_p] != word_s:
                return False
        else:
            pattern_to_s[char_p] = word_s

        if word_s in s_to_pattern:
            if s_to_pattern[word_s] != char_p :
                return False
        else:
            s_to_pattern[word_s] = char_p

    return True

pattern = 'abba'
s = 'dog cat cat dog'

WordPatterns(pattern,s)

True

# exploration, analysis and freethrows

In [4]:
s.split(' ')

['dog', 'cat', 'cat', 'dog']

In [12]:
len(pattern)

4

In [13]:
len(list_s)

4

# day 347

# valid anagram
Given two strings s and t, return true if t is an anagram of s, and false otherwise.

An Anagram is a word or phrase formed by rearranging the letters of a different word or phrase, typically using all the original letters exactly once.

 

Example 1:

Input: s = "anagram", t = "nagaram"
Output: true
Example 2:

Input: s = "rat", t = "car"
Output: false

In [14]:
s = 'anagram'
t = 'nagaram'

sorted(s), sorted(t)

(['a', 'a', 'a', 'g', 'm', 'n', 'r'], ['a', 'a', 'a', 'g', 'm', 'n', 'r'])

In [16]:
''.join(sorted(s))

'aaagmnr'

In [17]:
''.join(sorted(t))

'aaagmnr'

# Group Anagram

Given an array of strings strs, group the anagrams together. You can return the answer in any order.

An Anagram is a word or phrase formed by rearranging the letters of a different word or phrase, typically using all the original letters exactly once.

 

Example 1:

Input: strs = ["eat","tea","tan","ate","nat","bat"]
Output: [["bat"],["nat","tan"],["ate","eat","tea"]]
Example 2:

Input: strs = [""]
Output: [[""]]
Example 3:

Input: strs = ["a"]
Output: [["a"]]

In [28]:
strs = ["eat","tea","tan","ate","nat","bat"]

dic = {}

for s in strs:
    
    dic[''.join(sorted(s))] = []
    
for s in strs:    
    if ''.join(sorted(s)) in dic:
        dic[''.join(sorted(s))].append(s)
    
print(dic.values())

dict_values([['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']])

# Two Sum

Input: nums = [2,7,11,15], target = 9
Output: [0,1]
Explanation: Because nums[0] + nums[1] == 9, we return [0, 1].

In [7]:
nums = [2,7,11,15]
target = 9

dic = {}
for i, num in enumerate(nums):
    complement = target - num
    
    if num in dic:
        print([dic[num],i])
        break
    
    
    else:
        dic[complement] = i

[0, 1]

# Happy Number:
Write an algorithm to determine if a number n is happy.

A happy number is a number defined by the following process:

Starting with any positive integer, replace the number by the sum of the squares of its digits.
Repeat the process until the number equals 1 (where it will stay), or it loops endlessly in a cycle which does not include 1.
Those numbers for which this process ends in 1 are happy.
Return true if n is a happy number, and false if not.

 

Example 1:

Input: n = 19
Output: true
Explanation:
* 1^2 + 9^2 = 82
* 8^2 + 2^2 = 68
* 6^2 + 8^2 = 100
* 1^2 + 0^2 + 0^2 = 1
Example 2:

Input: n = 2
Output: false

In [30]:
def happy_number_check(n):
    n_str = str(n)
    add = 0
    
    try:
        if n == 1:
            return True

        else:
            for digit in n_str:
                add = add+int(digit)**2
            print(add)
            return dick(add)

    except RecursionError:
        return False

In [31]:
happy_number_check(133)

19
82
68
100
1

True

# optimized to avoid infinite loops

In [9]:
def happy_number_check(n):
    # Store the already seen numbers to avoid infinite loops
    seen = set()

    while n != 1:
        # If the number has already been seen, it's not a happy number
        if n in seen:
            return False
        
        seen.add(n) # this helps avoid the loop

        # Calculate the sum of squares of digits
        n_str = str(n)
        n = sum(int(digit)**2 for digit in n_str)
        print(n)

    return True

In [11]:
happy_number_check(134)

26
40
16
37
58
89
145
42
20
4
16

False

In [12]:
seen = {13,2,3,4,5}
seen.add(12)

In [13]:
seen

{2, 3, 4, 5, 12, 13}

In [14]:
12 in seen

True

# day 355,day 358

# contains duplicate 2:
Given an integer array nums and an integer k, return true if there are two distinct indices i and j in the array such that nums[i] == nums[j] and abs(i - j) <= k.

 

Example 1:

Input: nums = [1,2,3,1], k = 3
Output: true
Example 2:

Input: nums = [1,0,1,1], k = 1
Output: true
Example 3:

Input: nums = [1,2,3,1,2,3], k = 2
Output: false

In [13]:
# Brute force coding!!!
nums = [1,2,3,1]
k = 3

for i in range(len(nums)):
    for j in range(i+1,len(nums)):
        if nums[i] == nums[j]:
            dist = abs(i-j)
            
            if dist <= k:
                print('number is {} and dist is {} and (i,j) is {} {}'.format(nums[i],dist, i,j))
                print(True)
                break

number is 1 and dist is 3 and (i,j) is 0 3
True

In [17]:
# efficient method

def ContainNearbyDuplicate(nums,k):
    dic = {}
    
    for i,num in enumerate(nums):
        
        if num in dic and (abs(i-dic[num])<=k):
            print('number is {} and dist is {} and (i,j) is {} {}'.format(num,abs(i-dic[num]), dic[num],i))
            return True
        dic[num] = i
    return False

In [18]:
nums = [1,2,3,1]
k = 3
ContainNearbyDuplicate(nums,k)

number is 1 and dist is 3 and (i,j) is 0 3

True

# longest consecutive sequence

Given an unsorted array of integers nums, return the length of the longest consecutive elements sequence.

You must write an algorithm that runs in O(n) time.

 

Example 1:

Input: nums = [100,4,200,1,3,2]
Output: 4
Explanation: The longest consecutive elements sequence is [1, 2, 3, 4]. Therefore its length is 4.
Example 2:

Input: nums = [0,3,7,2,5,8,4,6,0,1]
Output: 9

In [23]:
nums = [0,1,-1]


# to remove duplicates and also for faster member access
nums = sorted(list(set(nums)))

# for membership checking 
num_set = set(nums)

# counter to 1
counter = 1
max_counter = 1

if len(nums) == 0:
    print(0)
    
else:

[-1, 0, 1]

In [21]:
nums = [0,1,-1]


# to remove duplicates and also for faster member access
nums = list(set(nums))

# for order
nums.sort()

# for membership checking:faster membership checker
num_set = set(nums)

# counter to 1
counter = 1
max_counter = 1

if len(nums) == 0:
    print(0)

else:
    for num in nums:
        if (num+1) in num_set:
            counter += 1
            max_counter = max(max_counter,counter)
            
        # reset the counter to 1 whenever the sequence breaks
        else:
            counter = 1
    print(max_counter)

3