# day 123

# sets:

* sets are similar to dictionaries but they only have keys not values like in dictionary, sets also have curly braces and are used to filter the unique elements from a list/array of numbers.

In [6]:
# Add an element to a set
# If the number 6 is already in the set it will not be added again.

s = {1,2,3,4,5}
s.add(6)

s

{1, 2, 3, 4, 5, 6}

In [7]:
s.add(6)
s

{1, 2, 3, 4, 5, 6}

In [11]:
# Update is used to add multiple elements to the set at once. 
# It takes an iterable object (e.g., list, tuple, set) as an 
# argument and adds all its elements to the set. 
# If any of the elements already exist in the set, 
# they are not added again.

s.update([1,2,4,7,9,5,8])

s

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [13]:
# Removing an element from a set


s.remove(8)
s

{1, 2, 3, 4, 5, 6, 7, 9}

In [15]:
# Union of two sets
other_set = {3, 4, 5, 6,8,10}
union_set = s.union(other_set)
union_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [16]:
# Intersection of two sets
intersection_set = s.intersection(other_set)
 
intersection_set

{3, 4, 5, 6}

In [19]:
s

{1, 2, 3, 4, 5, 6, 7, 9}

In [20]:
other_set

{3, 4, 5, 6, 8, 10}

In [23]:
# Difference between two sets (s-other_set)
difference_set = s.difference(other_set)
difference_set

{1, 2, 7, 9}

# remove duplicates

In [24]:
def remove_duplicates(my_list):
    return list(set(my_list))

my_list = [1, 2, 3, 4, 1, 2, 5, 6, 7, 3, 4, 8, 9, 5]

remove_duplicates(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# day 124

# Set: Has Unique Chars ( ** Interview Question)

In [7]:
string = 'abcde'
s = set()
s.update(char for char in string)

if len(s) == len(string):
    print(True)
    
else:
    print(False)

True

In [8]:
# fucntionifying:

def has_unique_chars(string):
    s = set()
    s.update(char for char in string)
    
    if len(s) == len(string):
        return True
    
    else:
        return False
    
has_unique_chars('hello')

False

In [9]:
has_unique_chars('')

True

In [10]:
has_unique_chars('0123456789')

True

In [11]:
has_unique_chars('abcda')

False

# Set: Find Pairs ( ** Interview Question)


* You are given two lists of integers, arr1 and arr2, and a target integer value, target. 
* Your task is to find all pairs of numbers (one from arr1 and one from arr2) whose sum equals target.

In [1]:
# naive, off-the-cuff solution.

arr1 = [1, 2, 3, 4, 5]
arr2 = [2, 4, 6, 8, 10]
target = 7

lis = []
for i in arr1:
    for j in arr2:
        addition = j + i
        
        if addition == target:
            lis.append(tuple((i,j)))
lis


# super. but it is O(N^2) which is quite a stagger!

[(1, 6), (3, 4), (5, 2)]

In [5]:
# functionizing the program:

def find_pairs(arr1,arr2,target):
    lis = []
    for i in arr1:
        for j in arr2:
            addition = j + i

            if addition == target:
                lis.append(tuple((i,j)))
    return lis


arr1 = [1, 2, 3, 4, 5]
arr2 = [2, 4, 6, 8, 10]
target = 7
find_pairs(arr1,arr2,target)

[(1, 6), (3, 4), (5, 2)]

# take an array a1 and another array a2
# store the elements of a1 as their keys and their position as indices
# find the difference = target - a2
# find if the difference is one of the keys of the a1,if it is, then access the element of a1 and corresponding a2.

In [4]:
# better solution O(N)

# use hash
a1 = [1,2,3,4,5]
a2 = [2,4,6,8,10]

dic = {}
lis = []

for i,values in enumerate(a1):
    dic[values] = i
    
for num in a2:
    difference = target - num
    
    if difference in dic: # if any of the keys of dic is the difference
        idx = dic[difference] # access its corresponding value
        
        lis.append((a1[idx],num)) # access the corresponding elements of a1 and num in a2
        
lis

[(5, 2), (3, 4), (1, 6)]

In [7]:
def find_pairs(arr1,arr2,target):
    dic = {}
    lis = []
    for i,values in enumerate(a1):
        dic[values] = i

    for num in a2:
        difference = target - num

        if difference in dic: # if any of the keys of dic is the difference
            idx = dic[difference] # access its corresponding value

            lis.append((a1[idx],num)) # access the corresponding elements of a1 and num in a2

    return lis


arr1 = [1, 2, 3, 4, 5]
arr2 = [2, 4, 6, 8, 10]
target = 7

find_pairs(arr1,arr2,target)

[(5, 2), (3, 4), (1, 6)]

# instructor's solution;

In [1]:
# quick and simple

def find_pairs(arr1,arr2,target):
    s = set(arr1)
    lis = []
    for num in arr2:
        difference = target - num
        
        if difference in s:
            lis.append((difference,num))
    return lis

arr1 = [1, 2, 3, 4, 5]
arr2 = [2, 4, 6, 8, 10]
target = 7
find_pairs(arr1,arr2,target)

[(5, 2), (3, 4), (1, 6)]

# conclusion:

technique to remember: **arr1 + arr2 = target. arr2 = target - arr1**

# day 126 and day 127

# Set: Longest Consecutive Sequence ( ** Interview Question)

In [1]:
nums = [100,4,200,3,2,1]

# filter the unique elements
lis = list(set(nums))
lis

[1, 2, 3, 100, 4, 200]

In [2]:
# sort the lis

sorted_nums = sorted(lis)

sorted_nums

[1, 2, 3, 4, 100, 200]

In [10]:
# ensuring that each element is one greater than the previous element:


sequential = []

for current in range(len(sorted_nums)):
    
    
    sequential.append(sorted_nums[current])
    if sorted_nums[current+1] - sorted_nums[current] > 1:
        break
        
    
    
sequential

[1, 2, 3, 4]

In [2]:
# instructor's solution 

def longest_sequence(nums):
    # for memebership check set is the fastest container
    num_set = set(nums)
    
    # lets assume the longest sequence is 0
    longest_sequence = 0
    
    # looping through all the numbers in nums
    for num in num_set:
        """we don't want to consider presequence that's why we put num-1 for example num-1 for 100 is 99, we want to 
        consider the numbers that come after the current num like 101 for 100, 102 for 101 etc. num-1 deals with it."""
        if num-1 not in num_set:
            current_num = num
            current_sequence = 1 # up until now we got 1 sequence
            
            '''as long as current_num and its forward sequence is present in the num_set we are increasing 
            current_num and sequence by 1 '''
            while current_num+1 in num_set:
                current_num += 1
                current_sequence += 1
                
            longest_sequence = max(longest_sequence,current_sequence)
            
            
    return longest_sequence

nums = [0,1,-1]
longest_sequence(nums)

3