# day 439

# Object Oriented Programming;
* it allows users to create their own objects,methods and attributes. we do this with the help of class.
* method is a function inside a class

In [11]:
class Student:
    def __init__(self,name):
        self.name = name


    def total_marks(self,ros2:float,linux:float,DL:float,RL:float,Maths:float):
        return "Total marks of {} is: {} ".format(self.name,ros2+linux+DL+RL+Maths)

In [13]:
s = Student(name='George')
s

In [15]:
# this is called the method
s.total_marks(78,68,70,65,69) # since we use parenthesis ()

'Total marks of George is: 350 '

In [19]:
s.name # it is an attribute since we don't use parenthesis ()

'George'

In [49]:
import numpy as np
class Circle:
    
    # anything you write here is called Class object attribute
    pi = np.pi 
    
    def __init__(self,radius):
        # anything you write here is called attribute because you can call it without using parentheses.
        self.radius = radius

    def area(self):
        return "The Area of the circle is: {}".format(self.pi*self.radius**2)

    def circumference(self):
        return "The Circumference of the circle is: {}".format(2*Circle.pi*self.radius) # you can also use Circle.pi instead of self.pi because it is a class object attribute.

In [51]:
c = Circle(5)
c

In [53]:
c.area()

'The Area of the circle is: 78.53981633974483'

In [55]:
c.circumference()

'The Circumference of the circle is: 31.41592653589793'

# day 441

# Inheritance:
* Inherits the properties(methods) of one class inside another class.
* that means we can use one class method inside another one that has the link of inheritance.

In [35]:
import numpy as np
class Math():
    def __init__(self):
        print("I perform Linear operations")
    def add(self,array):
        return np.sum(array)
    def multiply(self,array):
        return np.prod(array)

In [37]:
# this class is going to inherit the methods of the Math class

class Student(Math): # inheriting
    def __init__(self,name):
        print("I'm the student class")
        Math.__init__(self) # just like super().__init__(self)
        self.name = name

In [39]:
Math()

I perform Linear operations

In [41]:
s = Student(name='George')
s # it inherited everything from Math class

I'm the student class
I perform Linear operations

In [43]:
# lets perform in student class even though it doesn't have that method in itself(lets see if it had inherited it)

george_total = s.add(np.array([99,35,98,43,55]))
george_total

330

In [45]:
product_of_numbers = s.multiply(np.array([1,2,3,4,5]))
product_of_numbers

120

# polymorphism:
* polymorphism means occuring in different forms.
* essentially what we would do is we define a method with some common name but it would behave differently for different purposes as it called implying its name "poly" "morphism" it can change itself differently based on requirment of the underlying situation.

In [68]:
class Man():
    def __init__(self,name):
        self.name = name

    def speak(self):
        return self.name + " says to bend down to thrust his cock in."

In [77]:
class Woman():
    def __init__(self,name):
        self.name = name
    def speak(self):
        return self.name + " says she will not bend down until Raju promises to take her on a trip to Kashmir in December."

* notice we had the same method name speak but it is going to behave differently.

In [80]:
raju = Man('Raju')
raju.speak()

'Raju says to bend down to thrust his cock in.'

In [82]:
lakshmi = Woman('Lakshmi')
lakshmi.speak()

'Lakshmi says she will not bend down until Raju promises to take her on a trip to Kashmir in December.'

## conclusion: This is polymorphism. one method named "speak" behaves differently based on different requirment.

* In real life situation, we'd have some common name method like "open" which opens the file. But the file could be of type .csv,.excel,.xml,.urdf,.py and so on, so the open method needs to be dynammic enough to recognize the type of the file the user wants to open and behave accordingly.

# day 442

# using double dundar inside a class to use inbuilt functions on class

* when you use inbuilt function inside your custom defined object use double dundar.

In [54]:
class Citizen:
    def __init__(self,name="George",age=26): # by default it is George. you can have anythin you want
        self.name = name
        self.age = age
    def __len__(self): # when you use inbuilt function inside your custom defined object use double dundar.
        return self.age
    def __str__(self):
        return "Your name is {} and you are {} years old.".format(self.name,self.age)

In [56]:
c = Citizen()
c

In [58]:
# see we can use inbuilt function len on it.
len(c)

26

In [60]:
str(c)

'Your name is George and you are 26 years old.'

In [63]:
a = [1,2,3,4]
len(a)

4

# Home Work

In [92]:
import numpy as np
class Line:
    
    def __init__(self,coor1,coor2):
        self.coor1 = coor1
        self.coor2 = coor2
    
    def distance(self):
        # np.sqrt((y2-y1)^2 + (x2-x1)^2)
        c1 = np.array(self.coor1)
        c2 = np.array(self.coor2)
        return  np.sqrt(np.sum(  (c2 - c1)**2  ))
    
    
    def slope(self):
        return (self.coor2[1]-self.coor1[1])/(self.coor2[0] - self.coor1[0])

In [94]:
# EXAMPLE OUTPUT

coordinate1 = (3,2)
coordinate2 = (8,10)

li = Line(coordinate1,coordinate2)

In [96]:
li.distance()

9.433981132056603

In [72]:
li.slope()

1.6

# problem 2:

import numpy as np
class Cylinder:
    
    def __init__(self,height=1,radius=1):
        self.height = height
        self.radius = radius
        
    def volume(self):
        pass
    
    def surface_area(self):
        # 2 X pi X radius(height + radius)
       return 2 * np.pi * self.radius * (self.height + self.radius)

In [127]:
# EXAMPLE OUTPUT
c = Cylinder(2,3)

In [129]:
c.surface_area()

94.24777960769379

# day 445

# challenge

For this challenge, create a bank account class that has two attributes:

* owner
* balance

  
and two methods:

* deposit
* withdraw
1. As an added requirement, withdrawals may not exceed the available balance.

Instantiate your class, make several deposits and withdrawals, and test to make sure the account can't be overdrawn.

In [199]:
class BankAccount():
    def __init__(self,name,balance):
        self.owner = name
        self.balance = balance

    def __str__(self):
        return "Account Onwer: {0} \n Account Balance: Rs.{1}".format(self.owner,self.balance)
        
    def deposit(self,balance):
        self.balance += balance
        return "Transaction is Successful! Now your current balance is: {}".format(self.balance)

    def withdraw(self,amount):
        if self.balance <= 0:
            return "Sorry {}! Transaction is Unsucessful!  You have insufficient funds.".format(self.owner)
        else:
            self.balance -= amount
            return "Here is your {}.  Your current balance is: {}. ".format(amount,self.balance)

In [201]:
ba = BankAccount("George",250)
ba

In [203]:
ba.owner

'George'

In [205]:
ba.balance

250

In [207]:
ba.deposit(290)

'Transaction is Successful! Now your current balance is: 540'

In [209]:
ba.withdraw(500)

'Here is your 500.  Your current balance is: 40. '

In [211]:
ba.withdraw(40)

'Here is your 40.  Your current balance is: 0. '

In [213]:
ba.withdraw(500)

'Sorry George! Transaction is Unsucessful!  You have insufficient funds.'

In [215]:
ba.deposit(630000)

'Transaction is Successful! Now your current balance is: 630000'

In [217]:
str(ba)

'Account Onwer: George \n Account Balance: Rs.630000'