___

<a href='http://www.pieriandata.com'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Copyright by Pierian Data Inc.</em></center>
<center><em>For more information, visit us at <a href='http://www.pieriandata.com'>www.pieriandata.com</a></em></center>

# Linear Regression Project Exercise

Now that we have learned about feature engineering, cross validation, and grid search, let's test all your new skills with a project exercise in Machine Learning. This exercise will have a more guided approach, later on the ML projects will begin to be more open-ended. We'll start off with using the final version of the Ames Housing dataset we worked on through the feature engineering section of the course. Your goal will be to create a Linear Regression Model, train it on the data with the optimal parameters using a grid search, and then evaluate the model's capabilities on a test set.

---
---
---
## Complete the tasks in bold

**TASK: Run the cells under the Imports and Data section to make sure you have imported the correct general libraries as well as the correct datasets. Later on you may need to run further imports from scikit-learn.**

### Imports
# day 63

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Data

In [5]:
df = pd.read_csv("AMES_Final_DF.csv")
df.head()

,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
0,141.0,31770,6,5,1960,1960,112.0,639.0,0.0,441.0,...,0,0,0,0,1,0,0,0,1,0
1,80.0,11622,5,6,1961,1961,0.0,468.0,144.0,270.0,...,0,0,0,0,1,0,0,0,1,0
2,81.0,14267,6,6,1958,1958,108.0,923.0,0.0,406.0,...,0,0,0,0,1,0,0,0,1,0
3,93.0,11160,7,5,1968,1968,0.0,1065.0,0.0,1045.0,...,0,0,0,0,1,0,0,0,1,0
4,74.0,13830,5,5,1997,1998,0.0,791.0,0.0,137.0,...,0,0,0,0,1,0,0,0,1,0

In [6]:
df.head()

,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
0,141.0,31770,6,5,1960,1960,112.0,639.0,0.0,441.0,...,0,0,0,0,1,0,0,0,1,0
1,80.0,11622,5,6,1961,1961,0.0,468.0,144.0,270.0,...,0,0,0,0,1,0,0,0,1,0
2,81.0,14267,6,6,1958,1958,108.0,923.0,0.0,406.0,...,0,0,0,0,1,0,0,0,1,0
3,93.0,11160,7,5,1968,1968,0.0,1065.0,0.0,1045.0,...,0,0,0,0,1,0,0,0,1,0
4,74.0,13830,5,5,1997,1998,0.0,791.0,0.0,137.0,...,0,0,0,0,1,0,0,0,1,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2925 entries, 0 to 2924
Columns: 274 entries, Lot Frontage to Sale Condition_Partial
dtypes: float64(11), int64(263)
memory usage: 6.1 MB

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2925 entries, 0 to 2924
Columns: 274 entries, Lot Frontage to Sale Condition_Partial
dtypes: float64(11), int64(263)
memory usage: 6.1 MB

**TASK: The label we are trying to predict is the SalePrice column. Separate out the data into X features and y labels**

In [8]:
X = df.drop('SalePrice',axis=1)
y = df['SalePrice']
y

0       215000
1       105000
2       172000
3       244000
4       189900
         ...
2920    142500
2921    131000
2922    132000
2923    170000
2924    188000
Name: SalePrice, Length: 2925, dtype: int64

**TASK: Use scikit-learn to split up X and y into a training set and test set. Since we will later be using a Grid Search strategy, set your test proportion to 10%. To get the same data split as the solutions notebook, you can specify random_state = 101**

In [9]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=0.1,random_state=101)

In [13]:
x_train

,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
2670,52.000000,6240,6,6,1934,1950,0.0,0.0,0.0,816.0,...,0,0,0,0,1,0,0,0,1,0
1075,48.000000,6240,8,5,2006,2007,176.0,846.0,0.0,496.0,...,0,0,0,0,1,0,0,0,1,0
1106,96.000000,10542,7,5,1993,1994,651.0,1173.0,0.0,138.0,...,0,0,0,0,1,0,0,0,1,0
1089,74.207207,8010,7,5,2002,2003,0.0,0.0,0.0,840.0,...,0,0,0,0,1,0,0,0,1,0
569,64.549383,4217,6,5,2008,2008,252.0,962.0,0.0,183.0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599,60.000000,7436,4,7,1960,1960,0.0,734.0,0.0,160.0,...,0,0,0,0,1,0,0,0,1,0
1599,100.000000,21750,5,5,1954,1954,0.0,0.0,0.0,988.0,...,0,0,0,0,1,0,0,0,1,0
1361,60.000000,6876,6,6,1938,1958,0.0,0.0,0.0,1272.0,...,0,0,0,0,0,0,0,0,1,0
1547,71.000000,6900,5,6,1940,1955,0.0,403.0,125.0,212.0,...,0,0,0,0,1,0,0,0,1,0
863,71.336364,12334,8,5,2003,2003,198.0,0.0,0.0,1068.0,...,0,0,0,0,1,0,0,0,1,0

**TASK: The dataset features has a variety of scales and units. For optimal regression performance, scale the X features. Take carefuly note of what to use for .fit() vs what to use for .transform()**

In [14]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(x_train)
scaled_x_train = scaler.transform(x_train)
scaled_x_test = scaler.transform(x_test)

**TASK: We will use an Elastic Net model. Create an instance of default ElasticNet model with scikit-learn**

In [15]:
from sklearn.linear_model import ElasticNet

In [16]:
model = ElasticNet(alpha=1, l1_ratio=0.5)

**TASK:  The Elastic Net model has two main parameters, alpha and the L1 ratio. Create a dictionary parameter grid of values for the ElasticNet. Feel free to play around with these values, keep in mind, you may not match up exactly with the solution choices**

In [20]:
parameter_grid = {'alpha':[0.0001,0.001,0.01,0.1,0.5,1,10,24,20,50,75,87,99,100],
             'l1_ratio':[0.0001,0.001,0.01,0.1,0.25,0.3,0.5,0.75,0.99,1]}

**TASK: Using scikit-learn create a GridSearchCV object and run a grid search for the best parameters for your model based on your scaled training data. [In case you are curious about the warnings you may recieve for certain parameter combinations](https://stackoverflow.com/questions/20681864/lasso-on-sklearn-does-not-converge)**

In [33]:
from sklearn.model_selection import GridSearchCV

grid_search = GridSearchCV(estimator=model, param_grid=parameter_grid, scoring='neg_mean_squared_error', cv=5,verbose=1)

In [34]:
grid_search.fit(scaled_x_train,y_train)

Fitting 5 folds for each of 140 candidates, totalling 700 fits

GridSearchCV(cv=5, estimator=ElasticNet(alpha=1),
             param_grid={'alpha': [0.0001, 0.001, 0.01, 0.1, 0.5, 1, 10, 24, 20,
                                   50, 75, 87, 99, 100],
                         'l1_ratio': [0.0001, 0.001, 0.01, 0.1, 0.25, 0.3, 0.5,
                                      0.75, 0.99, 1]},
             scoring='neg_mean_squared_error', verbose=1)

In [24]:
import warnings
warnings.filterwarnings('ignore')

**TASK: Display the best combination of parameters for your model**

In [36]:
grid_search.best_estimator_

ElasticNet(alpha=100, l1_ratio=1)

In [38]:
grid_search.best_score_

-514792922.95141345

In [35]:
grid_search.best_params_

{'alpha': 100, 'l1_ratio': 1}

{'alpha': 100, 'l1_ratio': 1}

**TASK: Evaluate your model's performance on the unseen 10% scaled test set. In the solutions notebook we achieved an MAE of $\$$14149 and a RMSE of $\$$20532**

In [39]:
actual = y_test
prediction = grid_search.predict(scaled_x_test)

from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(actual,prediction))
rmse

20558.508566893164

14149.055026374837

20532.890234901013

## Great work!

----