In [1]:
import pandas

In [2]:
pandas.__version__

'1.4.2'

In [6]:
print("x= {x} \ny= {y}".format(x=5,y=23))

x= 5
y= 23

In [8]:
print("slope is: {y}={m}{x}+{b}".format(y="y",m=5,x="x",b=6))

slope is: y=5x+6

In [9]:
print("George is a {} sucker".format("lice"))

George is a lice sucker

# listing and indexing

In [11]:
donkeys=["joe","marlin","phoenix","muthu","gregory","gebhard","lisandra","cypher"]

In [19]:
donkeys[0:len(donkeys)]

['joe',
 'marlin',
 'phoenix',
 'muthu',
 'gregory',
 'gebhard',
 'lisandra',
 'cypher']

In [20]:
#reverse calling

donkeys[::-1]

['cypher',
 'lisandra',
 'gebhard',
 'gregory',
 'muthu',
 'phoenix',
 'marlin',
 'joe']

In [29]:
# reverse method

donkeys.reverse()

In [30]:
donkeys

['joe',
 'marlin',
 'phoenix',
 'muthu',
 'gregory',
 'gebhard',
 'lisandra',
 'cypher']

In [35]:
#appending a new item in list

donkeys[0]="tom"

In [36]:
donkeys

['tom',
 'marlin',
 'phoenix',
 'muthu',
 'gregory',
 'gebhard',
 'lisandra',
 'cypher']

In [37]:
#notice joe has been replaced with tom
donkeys.append("jerry")

In [38]:
donkeys

['tom',
 'marlin',
 'phoenix',
 'muthu',
 'gregory',
 'gebhard',
 'lisandra',
 'cypher',
 'jerry']

In [43]:
# list looping

list1=[1,2,3,4,5,[100,110,120,[67,78,[34,56,78,789]]]]

In [44]:
for i in list1:
    print(i)

1
2
3
4
5
[100, 110, 120, [67, 78, [34, 56, 78, 789]]]

In [45]:
#list loop calling

#calling 110 from list1
list1[5][1]

#calling 789
list1[5][3][2][3]

789

# dictionaries

In [57]:
#dictionaries have keys and corresponding values
#they are unordered


d={"George":97,"Sam":98,"Jeb":99}
print(d)

{'George': 97, 'Sam': 98, 'Jeb': 99}

In [59]:
#call the values only using their key
d["George"]

97

# tuples

In [62]:
# tuples are immutable meaning you can't do any item assignment like we normally do with lists ex: tuple1[4]= "george"


t=(1,2,3,4,5,7,"letters")

In [63]:
t[6]

'letters'

In [64]:
#this item assingment in tuple only will prompt error

#use tuple in places where user input should not change contents inside 

t[6]="lettersehsf"

TypeError: 'tuple' object does not support item assignment

# sets

In [65]:
# sets are great duplicate eliminators


#notice set1 has many 3's

set1={1,2,3,3,3,3,3,3,3,3,4,5}

In [66]:
set1

{1, 2, 3, 4, 5}

# loops and lists

In [68]:
i=1
while i<5:
    print("i is {}".format(i))
    i=i+1

i is 1
i is 2
i is 3
i is 4

In [72]:
a=list((range(1,10,1)))

In [73]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [75]:
out=[] # is an empty list

for i in range(1,11): #takes the range of numbers [1,2,3,.....10]
    out.append(i**2)  #square the list [1,2,3, ....10] to [1,4,9,16,.....100] and append it on empty list 'out'

print(out) # prints the list which now contains [1,4,9,....100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# functions

In [10]:
def my_name(name="nil"):
    print("hello "+name)

name=input("Type your Name: ")
my_name(name)

Type your Name: jeb
hello jeb

In [5]:
def cube(x):
    result=x**3
    return result

print(cube(9))

729

# lambda function

In [18]:
add= lambda a,b: a+b

print(add(3,4))

7

In [21]:
# pass in many arguments at a time

add= lambda *args: sum(args)
print(add(1,2,3,4,5,6,7,8,9,10))

55

# methods

In [22]:
str="hi George you are a kundi! "

In [23]:
str.lower()

'hi george you are a kundi! '

In [24]:
str.upper()

'HI GEORGE YOU ARE A KUNDI! '

In [25]:
#it splits every word and make a list of them


str.split()

['hi', 'George', 'you', 'are', 'a', 'kundi!']

In [30]:
tweet= "movie yashoda #surrogacy #dermetology #sex #betrayal #passion for flesh"

In [31]:
tweet.split("#")

['movie yashoda ',
 'surrogacy ',
 'dermetology ',
 'sex ',
 'betrayal ',
 'passion for flesh']

In [32]:
d={"George": 97, "sam": 98, "jeb": 99}

In [33]:
d.keys()

dict_keys(['George', 'sam', 'jeb'])

In [34]:
d.items()

dict_items([('George', 97), ('sam', 98), ('jeb', 99)])

In [35]:
d.values()

dict_values([97, 98, 99])

In [39]:
# pop something out of a list

lis=[1,2,3,4,5]

In [40]:
lis.pop(3)

4

In [41]:
lis

[1, 2, 3, 5]